<div class="card-columns" style="padding-left: 2.5%;">


  <div class="card border-warning   mb-3">
    <div class="card-header">Alumnos</div>
    <div class="card-body text-warning  " *ngIf="showCards">
      <h5 class="card-title">Alumnos matriculados</h5>

      <p class="card-text">
        <i class="fas fa-user fa-2x"></i> {{cantAlumno.alumnosMatriculados}} Alumnos </p>

      <p class="card-text">
        <small class="text-muted">Ultima Actualizacin 1 meses </small>
      </p>
    </div>
  </div>

  <!--
  <div class="card border-warning   mb-3" >
    <div class="card-header">Alumnos</div>
    <div class="card-body text-warning  " *ngIf="showCards">
      <h5 class="card-title">Alumnos Aspirante</h5>

      <p class="card-text"><i class="fas fa-users fa-2x"></i> 50 Alumnos </p>
     
      <p class="card-text"><small class="text-muted">Ultima Actualizacin 3 meses </small></p>
    </div>
  </div>
-->

  <div class="card border-warning   mb-3">
    <div class="card-header">Alumnos</div>
    <div class="card-body text-warning  " *ngIf="showCards">
      <h5 class="card-title">Poblacion Alumnos</h5>
      <p class="card-text">
        <i class="fas fa-male fa-2x"></i> {{cantAlumnoGenero.AlumnosHombres}}% Hombres</p>
      <p class="card-text">
        <i class="fas fa-female fa-2x"></i> {{cantAlumnoGenero.AlumnosMujeres}}% Mujeres</p>


      <p class="card-text">
        <small class="text-muted">Ultima Actualizacin 1 meses </small>
      </p>
    </div>
  </div>
</div>