<div class="container-fluid">
	<!-- inicio de container principal-->
	<div class="progress" style="height: 5px;">
		<div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width]="contProgreso + '%'" aria-valuenow="0"
		 aria-valuemin="0" aria-valuemax="100"></div>
		</div>
    <div class="col-sm-12 col-md-12 col-xl-12">
        <!--inicio de card o panel de contenido-->
         
        <div class="card  custom-card"> 
            <!-- inicio de tab-contents-->
            <div class="card-body custom-card-body">
                <div class="tab-content col-md-12" id="myTabContent">
                    <!--Tab panes de la administracion de los Docentes-->
                    <div class="tab-pane fade show active" id="docentes" role="tabpanel" aria-labelledby="docentes-tab">
                        <!--inicio tab tabla docentes div1-->
                        <div id="div1" class="col-xs-12 col-md-12">
							<form class="form-inline">
								<div class="input-group mb-3">
									<select class="custom-select" (ngModelChange)="getCuadroNotasSeccion($event)" [ngModel]="codSeccionSeleccionada" name="slc-secciones">
										<option selected>Seleccione una sección</option>
										<option *ngFor="let seccion of seccionesJsonArray" [ngValue]="seccion.codSeccion">{{seccion.seccion}}</option>
									</select>
									<div class="input-group-append">
										<button class="btn btn-secondary" type="button" (click)="cargarCuadroNotas()">
											<i class="fas fa-search 2x"></i>
										</button>
									</div>
								</div>
								<div class="form-group mx-sm-3 mb-2">
									<button class="btn btn-secondary" type="button" (click)="actualizarNotasSeccion()">
										<i class="fas fa-sync-alt"></i> Actualizar
									</button>
								</div>
							</form>  
						</div> 
					<br>
                    <div class="table-responsive">
					<table class="table table-bordered table-hover compact">
						<thead class="thead-light">
							<tr>
								<th></th>
								<th colspan="2">Información de Alumno</th>
								<th colspan="3">PARCIAL I</th>
								<th colspan="3">PARCIAL II</th>
								<th colspan="3">PARCIAL III</th>
								<th colspan="3">PARCIAL IV</th>
								<th></th>
							</tr>
							<tr>
								<th scope="col" width="3%">#</th>
								<th scope="col" width="15%">Identidad</th>
								<th scope="col" width="30%">Nombre completo</th>
								<th scope="col" width="4%">NA</th>
								<th scope="col" width="4%">NE</th>
								<th scope="col" width="4%">NF</th>
								<th scope="col" width="4%">NA</th>
								<th scope="col" width="4%">NE</th>
								<th scope="col" width="4%">NF</th>
								<th scope="col" width="4%">NA</th>
								<th scope="col" width="4%">NE</th>
								<th scope="col" width="4%">NF</th>
								<th scope="col" width="4%">NA</th>
								<th scope="col" width="4%">NE</th>
								<th scope="col" width="4%">NF</th>
								<th scope="col" width="4%">PROM</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor=" let nota of notasJsonArray; index as i">
								<td scope="col">{{i+1}}</td>
								<td scope="col">{{nota.identificacion}}</td>
								<td scope="col">{{nota.nombreCompleto}}</td>
								<td scope="col">
									<input class="form-control grade-text-box" [ngModel]='objNotas[i].getNotaA1()' (ngModelChange)="objNotas[i].setNotaA1($event)">
								</td>
								<td scope="col">
									<input class="form-control grade-text-box" [ngModel]='objNotas[i].getNotaE1()' (ngModelChange)="objNotas[i].setNotaE1($event)">
								</td>
								<td scope="col">
									<input class="form-control grade-text-box" [ngModel]='objNotas[i].getNotaFinal1()' (ngModelChange)="objNotas[i].setNotaFinal1($event)">
								</td>
								<td scope="col">
									<input class="form-control grade-text-box" [ngModel]='objNotas[i].getNotaA2()' (ngModelChange)="objNotas[i].setNotaA2($event)">
								</td>
								<td scope="col">
									<input class="form-control grade-text-box" [ngModel]='objNotas[i].getNotaE2()' (ngModelChange)="objNotas[i].setNotaE2($event)">
								</td>
								<td scope="col">
									<input class="form-control grade-text-box" [ngModel]='objNotas[i].getNotaFinal2()' (ngModelChange)="objNotas[i].setNotaFinal2($event)">
								</td>
								<td scope="col">
									<input class="form-control grade-text-box" [ngModel]='objNotas[i].getNotaA3()' (ngModelChange)="objNotas[i].setNotaA3($event)">
								</td>
								<td scope="col">
									<input class="form-control grade-text-box" [ngModel]='objNotas[i].getNotaE3()' (ngModelChange)="objNotas[i].setNotaE3($event)">
								</td>
								<td scope="col">
									<input class="form-control grade-text-box" [ngModel]='objNotas[i].getNotaFinal3()' (ngModelChange)="objNotas[i].setNotaFinal3($event)">
								</td>
								<td scope="col">
									<input class="form-control grade-text-box" [ngModel]='objNotas[i].getNotaA4()' (ngModelChange)="objNotas[i].setNotaA4($event)">
								</td>
								<td scope="col">
									<input class="form-control grade-text-box" [ngModel]='objNotas[i].getNotaE4()' (ngModelChange)="objNotas[i].setNotaE4($event)">
								</td>
								<td scope="col">
									<input class="form-control grade-text-box" [ngModel]='objNotas[i].getNotaFinal4()' (ngModelChange)="objNotas[i].setNotaFinal4($event)">
								</td>
								<td scope="col">
									<input class="form-control grade-text-box" [ngModel]='objNotas[i].getPromedio()' (ngModelChange)="objNotas[i].setPromedio($event)">
								</td>
							</tr>
						</tbody>
					</table>
					</div>
                    </div>
                </div>
            </div>
            <!-- fin de card body-->
        </div>
        <!-- fin del card container-->
    </div>
    <!-- fin del contenedor delimitador de columnas -->

</div>