<div class="main-content">

  <app-admin-dashboard *ngIf="router.url==='/home/admiministrar/admin-dashboard'">
  </app-admin-dashboard>
  <app-admin-cursos *ngIf="router.url==='/home/admiministrar/admin-cursos'" [inCursosJsonArray]="cursosJsonArray" [inAsignaturasJsonArray]="asignaturasJsonArray"
    (outRecargarTablaCursos)="getTodosCursos($event)" (outRecargarTablaAsignaturas)="getTodosAsignaturas($event)">
  </app-admin-cursos>
  <app-admin-lectivos *ngIf="router.url==='/home/admiministrar/admin-lectivo'">
  </app-admin-lectivos>
  <app-admin-ajuste *ngIf="router.url==='/home/admiministrar/admin-ajuste'">
  </app-admin-ajuste>
  <app-admin-user *ngIf="router.url==='/home/admiministrar/admin-usuarios'" [inData]="jsonNombrePersonas" [inUsuariosJsonArray]="usuariosJsonArray"
    [inRolesJsonArray]="rolesJsonArray" (change)="hasLoaded($event)" (outRecargarTablaUsuarios)="getTodosUsuarios($event)"
    (outRecargarTablaRoles)="getTodosRoles($event)">
  </app-admin-user>

  <app-eva-prom-dashboard *ngIf="router.url==='/home/evaluacionPromocion/evaProm-dashboard'"></app-eva-prom-dashboard>
  <app-calificaciones 
    *ngIf="router.url==='/home/evaluacionPromocion/evaProm-calificaciones'"
     [docenteLogueado]= "personaLogeada" [objSeccion]="parametroSeccion"
  ></app-calificaciones>
  <app-cursos 
      *ngIf="router.url==='/home/evaluacionPromocion/evaProm-cursos'"
       [docenteLogueado]= "personaLogeada" (outSetParametroSeccion)="setParamentroSeccion($event)"></app-cursos>
  <app-asistencia *ngIf="router.url==='/home/evaluacionPromocion/evaProm-asistencia'"></app-asistencia>
  <app-imprimir *ngIf="router.url==='/home/evaluacionPromocion/evaProm-imprimir'"></app-imprimir>

  <!--componentes modulo gestion académica-->
  <app-aulas *ngIf="router.url==='/home/gestion/gest-aulas'" [inAulasJsonArray]="aulasJsonArray" (outRecargarTablaAulas)="getTodosAulas($event)">
  </app-aulas>
  <app-docentes *ngIf="router.url==='/home/gestion/gest-docentes'" [inDocentesJsonArray]="docentesJsonArray" (outSetParametroDocente)="setParametroDocente($event)"
    (outSetDocentesActionFlag)="setActionFlag($event)">
  </app-docentes>
  <app-formulario-docente *ngIf="router.url==='/home/gestion/formulario-docente'" [mensaje]="mensajeToForm" [actionFlag]="flagActionForm"
    [data]="parametroDocente">
  </app-formulario-docente>
  <app-formulario-seccion *ngIf="router.url==='/home/gestion/formulario-seccion'" [actionFlag]="flagActionForm" [objSeccion]="parametroDocente">
  </app-formulario-seccion>
  <app-secciones *ngIf="router.url==='/home/gestion/gest-secciones'" (outSetParamentroSeccion)="setParametroDocente($event)"
    (outsetActionFlag)="setActionFlag($event)">
  </app-secciones>

  <!-- componentes del modulo matricula-->
  <app-gest-dashboard *ngIf="router.url==='/home/gestion/gest-dashboard'"></app-gest-dashboard>
  <app-expediente *ngIf="router.url==='/home/matriculaRegistro/matriReg-expediente'" (outSetParametroAlumno)="setParametroAlumno($event)"
    (outsetActionFlag)="setActionFlag($event)">
    ></app-expediente>
  <app-formulario-expediente *ngIf="router.url==='/home/matriculaRegistro/formulario-expediente/1' || router.url==='/home/matriculaRegistro/formulario-expediente/2' || router.url==='/home/matriculaRegistro/formulario-expediente/3'"
    [actionFlag]="flagActionForm" [objAlumno]="objParametro"></app-formulario-expediente>
  <app-formulario-traslado *ngIf="router.url==='/home/matriculaRegistro/formulario-traslado'" [inObjAlumno]="objParametro"></app-formulario-traslado>

  <app-formulario-incidencia *ngIf="router.url==='/home/matriculaRegistro/formulario-incidencia'" [inObjAlumno]="objParametro"></app-formulario-incidencia>

  <app-ficha *ngIf="router.url==='/home/matriculaRegistro/matriReg-ficha' || router.url==='/home/matriculaRegistro/matriReg-ficha/2'"
    [actionFlag]="flagActionForm" [objAlumno]="objParametro"></app-ficha>

  <app-formulario-ficha *ngIf="router.url==='/home/matriculaRegistro/formulario-alumno'"></app-formulario-ficha>
  <app-historial *ngIf="router.url==='/home/matriculaRegistro/matriReg-historial'" [inObjAlumno]="objParametro"></app-historial>

  <app-matricula *ngIf="router.url==='/home/matriculaRegistro/matriReg-matricula'" (outSetParametroAlumno)="setParametroAlumno($event)"
    (outsetActionFlag)="setActionFlag($event)" [inObjAlumno]="objParametro"></app-matricula>
  <app-formulario-matricula *ngIf="router.url==='/home/matriculaRegistro/formulario-matricula'" [objAlumno]="objParametro"></app-formulario-matricula>

  <app-matri-reg-dashboard *ngIf="router.url==='/home/matriculaRegistro/matriReg-dashboard'"></app-matri-reg-dashboard>

</div>