<div class="container">
  <div class="col-xs-12 col-sm-12 col-md-12 col-xl-8 offset-xl-2">
    <h4>
      <i class="fas fa-user-circle"></i> {{mensaje}}</h4>
    <div class="card custom-card">
      <div class="card-header custom-card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a id="datos1" class="nav-link {{tabsTraslado}} " data-toggle="tab" href="#datosTraslado">Datos de traslado</a>
          </li>
          <li class="nav-item">
            <a id="datos2" class="nav-link {{tabsIncidencia}}" data-toggle="tab" href="#datosIncidencia">Datos de Incidencia</a>
          </li>
        </ul>
      </div>
      <div class="card-body  custom-card-body">
        <!-- Tab panes -->
        <div class="tab-content">
          <!--Inicio de tab de informacion de tralado -->
          <div class="tab-pane {{tabsTraslado}} container" id="datosTraslado">
            <form>
              <div id="datos" style="padding-top: 10px">
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label>Nombres del alumno:</label>
                    <input id="txt-nombreAlumno" name="nombreAlumno" type="text" class="form-control" placeholder="Ingrese nombres del Estudiante">
                  </div>
                  <div class="form-group col-md-6">
                    <label>Instituto</label>
                    <input id="txt-Instituto" name="Instituto" type="text" class="form-control" placeholder="Nombre del instituto">
                  </div>


                  <div class="form-group col-md-12">
                    <label for="txt-descripcionTraslado">Descripcion del traslado</label>
                    <textarea class="form-control" name="descripcionTraslado" rows="3" placeholder="Ingrese una descripcion del traslado" id="txt-descripcionTraslado"></textarea>
                  </div>


                  <div class="form-group col-md-6">
                    <label>Fecha final</label>
                    <input type="date" class="form-control" name="nacimiento" [ngModel]="nuevoAlumno.getFechaNacimiento() | date:'yyyy-MM-dd'"
                      (ngModelChange)="nuevoAlumno.setFechaNacimiento($event)" id="txt-fechaNacimientoAlumno">
                  </div>
                  <div class="form-group col-md-6">
                    <label>Fecha de traslado</label>
                    <input type="date" class="form-control" name="nacimiento" [ngModel]="nuevoAlumno.getFechaNacimiento() | date:'yyyy-MM-dd'"
                      (ngModelChange)="nuevoAlumno.setFechaNacimiento($event)" id="txt-fechaNacimientoAlumno">
                  </div>

                </div>

              </div>
              <div class="card-footer text-muted">
                <div class="btn-toolbar text-center" role="toolbar" aria-label="Toolbar with button groups">
                  <div class="btn-group mr-2" role="group" aria-label="First group">
                    <button type="button" class="btn btn-secondary" (click)="crearNuevoAlumno()">Guardar traslado</button>
                  </div>
                  <div class="btn-group mr-2" role="group" aria-label="First group">
                    <button type="button" class="btn btn-secondary" (click)="crearNuevoAlumno()">Editar</button>
                  </div>

                  <div class="btn-group mr-2" role="group" aria-label="First group">
                    <button type="button" class="btn btn-secondary" (click)="crearNuevoAlumno()">Actualizar</button>
                  </div>

                  <div class="btn-group" role="group" aria-label="Third group">
                    <button type="button" class="btn btn-secondary" (click)="goToExpediente()">Volver</button>
                  </div>
                </div>
              </div>

            </form>
          </div>
          <div class="tab-pane  {{tabsIncidencia}}  container" id="datosIncidencia">
            <form>
              <div id="datos" style="padding-top: 10px">
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label>Titulo de la incidencia:</label>
                    <input id="txt-tituloIncidencia" name="tituloIncidencia" type="text" class="form-control" placeholder="Ingrese el titulo de la incidencia">
                  </div>
                  <div class="form-group col-md-6">
                    <label>Tipo de incidencia</label>
                    <input id="txt-tipoIncidencia" name="tipoIncidencia" type="text" class="form-control" placeholder="Escoga el tipo de incidencia">
                  </div>
                  <div class="form-group col-md-6">
                      <label>Fecha </label>
                      <input type="date" class="form-control" name="fechaIncidencia"  id="txt-fechaIncidencia">
                    </div>
                  <div class="form-group col-md-6">
                    <label>Nombre del alumno</label>
                    <input id="txt-nombreAlumnoIncidencia" name="nombreAlumnoIncidencia" type="text" class="form-control" placeholder="Nombre del alumno">
                  </div>
                  <div class="form-group col-md-6">
                    <label>Nombre del Docente</label>
                    <input id="txt-nombreDocenteIncidencia" name="nombreDocenteIncidencia" type="text" class="form-control" placeholder="Nombre del docente">
                  </div>

                  <div class="form-group col-md-12">
                    <label for="txt-descripcionIncidencia">Descripcion de la incidencia</label>
                    <textarea class="form-control" name="descripcionIncidencia" rows="3" placeholder="Describa el caso de la incidencia" id="txt-descripcionIncidencia"></textarea>
                  </div>


                </div>

              </div>
              <div class="card-footer text-muted">
                <div class="btn-toolbar text-center" role="toolbar" aria-label="Toolbar with button groups">
                  <div class="btn-group mr-2" role="group" aria-label="First group">
                    <button type="button" class="btn btn-secondary" (click)="crearNuevoAlumno()">Guardar incidencia</button>
                  </div>

                  <div class="btn-group mr-2" role="group" aria-label="First group">
                    <button type="button" class="btn btn-secondary" (click)="crearNuevoAlumno()">Editar</button>
                  </div>

                  <div class="btn-group mr-2" role="group" aria-label="First group">
                    <button type="button" class="btn btn-secondary" (click)="crearNuevoAlumno()">Actualizar</button>
                  </div>
                  <div class="btn-group" role="group" aria-label="Third group">
                    <button type="button" class="btn btn-secondary" (click)="goToExpediente()">Volver</button>
                  </div>
                </div>
              </div>

            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>