<div class="container">
  <div class="col-xs-12 col-sm-12 col-md-12 col-xl-8 offset-xl-2">
    <h4>
      <i class="fas fa-user-circle"></i> {{mensaje}}</h4>
    <div class="card custom-card">
      <div class="card-header custom-card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a id="datos1" class="nav-link active disabled" data-toggle="tab" href="#datosPersonales">Datos Personales</a>
          </li>
          <li class="nav-item">
            <a id="datos2" class="nav-link disabled" data-toggle="tab" href="#datosContacto">Datos de Contacto</a>
          </li>
          <li class="nav-item">
            <a id="datos3" class="nav-link disabled" data-toggle="tab" href="#fichaMedica">Ficha medica</a>
          </li>
          <li class="nav-item">
            <a id="datos4" class="nav-link disabled" data-toggle="tab" href="#experiencia">Laboral</a>
          </li>
        </ul>
      </div>
      <div class="card-body custom-card-body">
        <form>
          <!-- Tab panes -->
          <div class="tab-content">
            <!--Inicio de tab de informacion personal -->
            <div class="tab-pane active container" id="datosPersonales">
              <div id="datos" style="padding-top: 10px">
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label>Nombres:</label>
                    <input id="txt-nombreDocente" name="nuevoDocente" type="text" class="form-control" placeholder="Ingrese nombres del Docente"
                      value-formatter="nombreCompleto" list-formatter="nombreCompleto" [ngModel]='nuevoDocente.getNombre()'
                      (ngModelChange)="nuevoDocente.setNombre($event)">
                      <div class="valid-feedback">Correcto</div>
                      <div class="invalid-feedback">Escriba el Nombre</div>
                  </div>
                  <div class="form-group col-md-6">
                    <label>Apellidos:</label>
                    <input id="txt-apellidoDocente" name="apellidoDocente" type="text" class="form-control" [ngModel]='nuevoDocente.getApellido()'
                      (ngModelChange)="nuevoDocente.setApellido($event)" placeholder="Ingrese apellidos del docente">
                      <div class="valid-feedback">Correcto</div>
                      <div class="invalid-feedback">Escriba los Apellidos</div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-4">
                    <label>Numero identificación:</label>
                    <input id="txt-identidadDocente" name="Identidad" type="text" (ngModelChange)="nuevoDocente.setIdentidad($event)" class="form-control"
                      [ngModel]='nuevoDocente.getIdentidad()' placeholder="9999-9999-99999">
                      <div class="valid-feedback">Correcto</div>
                      <div class="invalid-feedback">Escriba numero de Identidad</div>
                  </div>
                  <div class="form-group col-md-4">
                    <label>Edad:</label>
                    <input id="txtEdad" name="edad" type="number" (ngModelChange)="nuevoDocente.setEdad($event)" [ngModel]="nuevoDocente.getEdad()"
                      class="form-control" placeholder="años">
                      <div class="valid-feedback">Correcto</div>
                      <div class="invalid-feedback">Seleccione la Edad</div>
                  </div>
                  <div class="form-group col-md-4">
                    <label>Género:</label>
                    <select class="form-control" id="select-genero" name="genero" [ngModel]="nuevoDocente.getSexo()" (ngModelChange)="nuevoDocente.setSexo($event)">
                      <option value="0" selected>Seleccione uno</option>
                      <option value="M">Masculino</option>
                      <option value="F">Femenino</option>
                    </select>
                    <div class="valid-feedback">Correcto</div>
                    <div class="invalid-feedback">Escriba el genero</div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-4">
                    <label>Fecha de nacimiento</label>
                    <input type="date" class="form-control" name="nacimiento" [ngModel]="nuevoDocente.getFechaNacimiento() | date:'yyyy-MM-dd'"
                      (ngModelChange)="nuevoDocente.setFechaNacimiento($event)" id="txt-fechaNacimientoDocente">
                      <div class="valid-feedback">Correcto</div>
                      <div class="invalid-feedback">Seleccione la Fecha</div>
                  </div>
                  <div class="form-group col-md-4">
                    <label>Pais de nacimiento:</label>
                    <input type="text" class="form-control" name="paisNacimiento" [ngModel]="nuevoDocente.getPaisOrigen()" (ngModelChange)="nuevoDocente.setPaisOrigen($event)"
                      id="txt-paisOrigenDocente" placeholder="Ingrese el pais de Origen del Docente">
                      <div class="valid-feedback">Correcto</div>
                      <div class="invalid-feedback">Escriba el Pais</div>
                  </div>
                  <div class="form-group col-md-4">
                    <label>Nacionalidad:</label>
                    <input type="text" class="form-control" name="nacionalidad" [ngModel]="nuevoDocente.getNacionalidad()" (ngModelChange)="nuevoDocente.setNacionalidad($event)"
                      id="txt-nacionalidadDocente" placeholder="Ingrese la nacionalidad del Docente">
                      <div class="valid-feedback">Correcto</div>
                      <div class="invalid-feedback">Escriba la Nacionalidad</div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label>Departamento de origen:</label>
                    <input type="text" class="form-control" name="departamentoOrigen" [ngModel]="nuevoDocente.getDepartamentoNacimiento()" (ngModelChange)="nuevoDocente.setDepartamentoNacimiento($event)"
                      id="txt-deptoOrigen" placeholder="Departamento">
                      <div class="valid-feedback">Correcto</div>
                      <div class="invalid-feedback">Escriba el Departamento</div>
                  </div>
                  <div class="form-group col-md-6">
                    <label>Lugar de nacimiento:</label>
                    <input type="text" class="form-control" name="lugarNacimiento" [ngModel]="nuevoDocente.getLugarNacimiento()" (ngModelChange)="nuevoDocente.setLugarNacimiento($event)"
                      id="txt-lugarNacimiento" placeholder="Municipio, ciudad, aldea">
                      <div class="valid-feedback">Correcto</div>
                      <div class="invalid-feedback">Escriba el Lugar</div>
                  </div>
                </div>
                <!-- <div class="form-group">
                              <div class="col-sm-12">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                <button class="btn btn-primary">Siguiente</button>
                              </div>
                            </div> -->
              </div>
            </div>
            <!--inicio de tab de informacion de contacto-->
            <div class="tab-pane container" id="datosContacto">
              <div style="padding-top: 10px"></div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label>Correo electrónico:</label>
                  <input type="email" name="correo" [ngModel]="nuevoDocente.getCorreo()" (ngModelChange)="nuevoDocente.setCorreo($event)" class="form-control"
                    id="txt-correoDocente" placeholder="example@servidor.com">
                    <div class="valid-feedback">Correcto</div>
                    <div class="invalid-feedback">Escriba correctamente el Correo</div>
                </div>
                <div class="form-group col-md-3">
                  <label>Celular:</label>
                  <input type="phone" name="celular" [ngModel]="nuevoDocente.getCelular()" (ngModelChange)="nuevoDocente.setCelular($event)"
                    class="form-control" id="txt-celularDocente" placeholder="9242-8701">
                    <div class="valid-feedback">Correcto</div>
                    <div class="invalid-feedback">Escriba el Celular</div>
                </div>
                <div class="form-group col-md-3">
                  <label>Teléfono fijo:</label>
                  <input type="phone" name="telefono" class="form-control" [ngModel]="nuevoDocente.getTelefono()" (ngModelChange)="nuevoDocente.setTelefono($event)"
                    id="txt-telefonoDocente" placeholder="2242-8701">
                    <div class="valid-feedback">Correcto</div>
                    <div class="invalid-feedback">Escriba el Telefono</div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label>Dirección de domicilio actual: </label>
                  <textarea type="text" name="direccion" class="form-control" [ngModel]="nuevoDocente.getDireccion()" (ngModelChange)="nuevoDocente.setDireccion($event)"
                    id="txt-direccion" placeholder="Colonia, calle, avenida, casa, etc"></textarea>
                    <div class="valid-feedback">Correcto</div>
                    <div class="invalid-feedback">Escriba la Dirección</div>
                </div>
                <!-- <div class="form-group col-md-6">
                  <input type="file" class="form-control" id="txt-imagenDocente">
                </div> -->
              </div>
            </div>
            <!-- inicio de tab de ficha medica:-->
            <div class="tab-pane container" id="fichaMedica">
              <div style="padding-top: 10px"></div>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label>Tipo de sangre</label>
                  <select name="tipoSangre" id="select-tipoSangre" class="form-control" [ngModel]="nuevoDocente.getTipoSangre()" (ngModelChange)="nuevoDocente.setTipoSangre($event)">
                    <option value="">Seleccione uno</option>
                    <option value="O positivo">O positivo</option>
                    <option value="O negativo">O negativo</option>
                    <option value="A positivo">A positivo</option>
                    <option value="A negativo">A negativo</option>
                    <option value="B positivo">B positivo</option>
                    <option value="B negativo">B negativo</option>
                    <option value="AB positivo">AB positivo</option>
                    <option value="AB negativo">AB negativo</option>
                  </select>
                  <div class="valid-feedback">Correcto</div>
                  <div class="invalid-feedback">Seleccione un Tipo de Sangre</div>
                </div>
                <div class="form-group col-md-12">
                  <label>Padecimientos frecuentes: </label>
                  <textarea name="padecimiento" type="text" class="form-control" [ngModel]="nuevoDocente.getEnfermedadesComunes()" (ngModelChange)="nuevoDocente.setEnfermedadesComunes($event)"
                    id="txtEnfermedades" placeholder="Alergias o padecimientos frecuentes"></textarea>
                </div>
                <div class="form-group col-md-12">
                  <label>Condiciones especiales </label>
                  <textarea name="condicionesExpeciales" type="text" class="form-control" [ngModel]="nuevoDocente.getCondicionesEspeciales()"
                    (ngModelChange)="nuevoDocente.setCondicionesEspeciales($event)" id="txtEnfermedades" placeholder="Condiciones especiales"></textarea>
                </div>
              </div>
            </div>
            <div class="tab-pane container" id="experiencia">
              <div style="padding-top: 10px"></div>
              <div class="form row">
                <div class="form-group col-md-6">
                  <label>Numero de expediente:</label>
                  <input type="text" name="numExpediente" class="form-control" [ngModel]="nuevoDocente.getNumeroExpediente()"
                  (ngModelChange)="nuevoDocente.setNumeroExpediente($event)" id="txtExpediente" placeholder="Numero de expediente">
                  <div class="valid-feedback">Correcto</div>
                  <div class="invalid-feedback">Escriba el Numero de expediente</div>
                </div>
                <div class="form-group col-md-6">
                  <label>Fecha de ingreso:</label>
                  <input type="date" [ngModel]="nuevoDocente.getFechaIngreso() | date:'yyyy-MM-dd'" (ngModelChange)="nuevoDocente.setFechaIngreso($event)" name="fechaIngresoExperiencia" value="2018-07-05" class="form-control" id="txtINgreso" placeholder="Fecha de ingreso">
                  <div class="valid-feedback">Correcto</div>
                  <div class="invalid-feedback">Seleccione la Fecha</div>
                </div>
              </div>
              <label>Cargos de docente: </label> 
              <table class="table table-bordered table-hover table-sm">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Cargo</th>
                    <th scope="col">Departamento</th>
                    <th scope="col">FechaInicio</th>
                    <th scope="col">FechaFinal</th>
                    <th scope="col">Institucion</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let cargo of cargoAgregadosDocente; index as i">
                    <td>
                      <button type="button" (click)="eliminarAsignaturaCurso(i)" class="btn btn-danger">
                        <i class="far fa-trash-alt"></i>
                      </button>
                    </td>
                    <td>{{cargo.cargo}}</td>
                    <td>{{cargo.departamento}}</td>
                    <td>{{cargo.fechaInicio}}</td>
                    <td>{{cargo.fechaFinal}}</td>
                    <td>{{cargo.institucion}}</td>
                  </tr>
                  <tr>
                    <td>
                      <button type="button" class="btn btn-primary" data-toggle="modal" (click)="limpiarDatosCargo()" data-target="#modalDocenteLaboral">
                        <i class="fas fa-plus"></i>
                      </button>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>
        </form>
      </div>
      <!--fin del cardboyd-->
      <div id="Botons" class="card-footer text-muted">
        <div class="btn-toolbar text-center" role="toolbar" aria-label="Toolbar with button groups">
          <div class="btn-group mr-2" role="group" aria-label="First group">
            <button id="btn-guardarDocente" type="button" class="btn btn-success" (click)="crearNuevoDocente()">Guardar</button>
          </div>
          <div class="btn-group mr-2" role="group" aria-label="First group">
            <button id="btn-actualizarDocente" type="button" class="btn btn-warning" (click)="actualizaDocente()">Actualizar</button>
          </div>
          <div class="btn-group mr-2" role="group" aria-label="Second group">
            <button id="btn-continuarDocente" type="button" class="btn btn-primary" (click)="goToNewsTabs()">Continuar</button>
          </div>
          <div class="btn-group" role="group" aria-label="Third group">
            <button id="btn-volverDocente" type="button" class="btn btn-danger" (click)="goToDocentes()">Volver</button>
          </div>
          
        </div>
      </div>
    </div>
    <!--fin de card-->

  </div>
</div>





<!-- modal para agregar cargos a docentes -->

<!-- Modal -->
<div class="modal fade" id="modalDocenteLaboral" tabindex="-1" role="dialog" aria-labelledby="modalDocenteLaboralLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalDocenteLaboralLabel">Agregar cargos a docente</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="modalCargosDocente">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>Cargo</label>
              <input ngui-auto-complete [max-num-list]="5"  [source]="cargosJsonArray" value-formatter="cargo"
              list-formatter="cargo" type="text" name="cargoDocente" [ngModel]="cargo.getCargo()" (ngModelChange)="cargo.setCargo($event.cargo); cargo.setCodCargo($event.codCargo)"
                class="form-control" id="txt-cargoDocente" placeholder="Nombre de cargo a ocupar">
                <div class="valid-feedback">Correcto</div>
                <div class="invalid-feedback">Seleccione un Cargo</div>
            </div>
            <div class="form-group col-md-6">
              <label>Institucion</label>
              <input type="text" name="institucionDocente" [ngModel]="cargo.getInstitucion()" (ngModelChange)="cargo.setInstitucion($event)"
                class="form-control" id="txt-institucionDocente" placeholder="Nombre de la institucion">
                <div class="valid-feedback">Correcto</div>
                <div class="invalid-feedback">Escriba la Institucion</div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>Fecha incio</label>
              <input type="date" name="fechaIncioCargo" [ngModel]="cargo.getFechaInicio() | date:'yyyy-MM-dd'" (ngModelChange)="cargo.setFechaInicio($event)"
                class="form-control" id="txt-fechaIncioCargo">
                <div class="valid-feedback">Correcto</div>
                <div class="invalid-feedback">Seleccione una Fecha Inicio</div>
            </div>
            <div class="form-group col-md-6">
              <label>Fecha final</label>
              <input type="date" name="fechaFinalCargo" [ngModel]="cargo.getFechaFinal() | date:'yyyy-MM-dd'" (ngModelChange)="cargo.setFechaFinal($event)"
                class="form-control" id="txt-fechaFinalCargo" >
                <div class="valid-feedback">Correcto</div>
                <div class="invalid-feedback">Seleccione una Fecha Final</div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label>Departamento</label>
              <input ngui-auto-complete [max-num-list]="5"  [source]="departamentosJsonArray" value-formatter="departamento"
              list-formatter="departamento" type="text" name="departamentoDocente" [ngModel]="cargo.getDepartamento()" (ngModelChange)="cargo.setDepartamento($event.departamento); cargo.setCodDepartamento($event.codDepartamento)"
                class="form-control" id="txt-departamentoDocente" placeholder="Departamento Asignado">
                <div class="valid-feedback">Correcto</div>
                <div class="invalid-feedback">Seleccione un Departamento</div>
            </div>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Volver</button>
        <button type="button" class="btn btn-success" (click)="agregarNuevoCargoDocente()">Agregar</button>
      </div>
    </div>
  </div>
</div>