
.left-side-bar-container{
    top:55px;
    width: 80px;
    background-color: #ffffff;
    height: 100%;
    position: fixed;
    z-index: 100;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 1px 0px 0 rgba(0, 0, 0, 0.1);
}