<div id="close-side" class="left-side-bar-container">
  <router-outlet></router-outlet>
  <!--
  <app-ad-side-menu *ngIf="router.url=='/home/admiministrar'"></app-ad-side-menu>
  <app-mr-side-menu *ngIf="router.url=='/home/matriculaRegistro'"></app-mr-side-menu>
  <app-ga-side-menu *ngIf="router.url=='/home/gestion'"></app-ga-side-menu>
  <app-ep-side-menu *ngIf="router.url=='/home/evaluacionPromocion'"></app-ep-side-menu>
  -->
  <a  class="list-group-item list-group-item-action custom-link-ep text-center" (click)="ocultar()">
    <i class="fas fa-angle-double-left fa-2x"></i>
    <span style="font-size:12px;">Close</span> 
  </a>
</div>
<div id="show-side" style="display: none;padding:40% 0%;width: 2%;" class="left-side-bar-container text-center align-middle h-100">
  <div class="align-self-center"><a class="" (click)="mostrar()"><i class="fas fa-angle-double-right fa-1x"></i></a></div>
</div>