<div class="container">
	<div class="col-xs-12 col-sm-12 col-md-12 col-xl-8 offset-xl-2">
		<div class="">
			<div class="btn-group" role="group" aria-label="Basic example">
				<button class="btn btn-outline-secondary" (click)="goToNuevoTraslado()">
					<i class="fas fa-user-plus"></i> Agregar traslado
				</button>
			</div>
			<div class="btn-group" role="group" aria-label="Basic example">
				<button id="btn-Incidencias" class="btn btn-outline-secondary" (click)="goToNuevoIncidencia()">
					<i class="fas fa-user-plus"></i> Ver incidencias
				</button>
			</div>
			<div class="btn-group" role="group" aria-label="Basic example">
				<button id="btn-Matricula" class="btn btn-outline-secondary" (click)="goToMatricula()">
					<i class="fas fa-user-plus"></i> Ver matricula
				</button>
			</div>
			<div class="btn-group" role="group" aria-label="Basic example">
				<button id="btn-Historial" class="btn btn-outline-secondary" (click)="goToHistorial()">
					<i class="fas fa-user-plus"></i> Ver Historial
				</button>
			</div>
		</div>
		<div class="card custom-card">
			<div class="card-header custom-card-header">
				<ul class="nav nav-tabs card-header-tabs">
					<li class="nav-item">
						<a id="datos1" class="nav-link disabled {{tabsAlumno}}" data-toggle="tab" href="#datosPersonales">Datos Personales</a>
					</li>
					<li class="nav-item">
						<a id="datos2" class="nav-link disabled" data-toggle="tab" href="#datosContacto">Datos de Contacto</a>
					</li>
					<li class="nav-item">
						<a id="datos3" class="nav-link disabled" data-toggle="tab" href="#fichaMedica">Ficha medica</a>
					</li>
					<li class="nav-item">
						<a id="datos4" class="nav-link disabled {{tabsTutor}}" data-toggle="tab" href="#datosTutor">Padres de familia</a>
					</li>
				</ul>
			</div>
			<div class="card-body custom-card-body">
				<form>
					<!-- Tab panes -->
					<div class="tab-content">
						<!--Inicio de tab de informacion personal -->
						<div class="tab-pane {{tabsAlumno}} container" id="datosPersonales">
							<div id="datos" style="padding-top: 10px">
								<div class="form-row">
									<div class="form-group col-md-6">
										<label>Nombres:</label>
										<input id="txt-nombreAlumno" name="nombreAlumno" type="text" class="form-control" (ngModelChange)="objAlumno.setNombre($event)"
										 [ngModel]="objAlumno.getNombre()" placeholder="Ingrese nombres del Estudiante">
										<div class="valid-feedback">Correcto</div>
										<div class="invalid-feedback">Escriba el Nombre</div>
									</div>
									<div class="form-group col-md-6">
										<label>Apellidos:</label>
										<input id="txt-apellidoAlumno" name="apellidoAlumno" type="text" class="form-control" (ngModelChange)="objAlumno.setApellido($event)"
										 [ngModel]="objAlumno.getApellido()" placeholder="Ingrese apellido del Estudiante">
										<div class="valid-feedback">Correcto</div>
										<div class="invalid-feedback">Escriba los Apellidos</div>
									</div>
								</div>
								<div class="form-row">
									<div class="form-group col-md-4">
										<label>Numero identificación:</label>
										<input id="txt-identidadAlumno" name="Identidad" type="text" (ngModelChange)="objAlumno.setIdentidad($event)" class="form-control"
										 [ngModel]='objAlumno.getIdentidad()' placeholder="9999-9999-99999">
										<div class="valid-feedback">Correcto</div>
										<div class="invalid-feedback">Escriba numero de Identidad</div>
									</div>
									<div class="form-group col-md-4">
										<label>Edad:</label>
										<input id="txtEdadAlumno" name="edad" type="number" (ngModelChange)="objAlumno.setEdad($event)" [ngModel]="objAlumno.getEdad()"
										 class="form-control" placeholder="años">
										<div class="valid-feedback">Correcto</div>
										<div class="invalid-feedback">Seleccione la Edad</div>
									</div>
									<div class="form-group col-md-4">
										<label>Género:</label>
										<select class="form-control" name="genero" id="select_generoAlumno" [ngModel]="objAlumno.getSexo()" (ngModelChange)="objAlumno.setSexo($event)">
											<option>Seleccione uno</option>
											<option value="M">Masculino</option>
											<option value="F">Femenino</option>
										</select>
										<div class="valid-feedback">Correcto</div>
										<div class="invalid-feedback">Escriba el genero</div>
									</div>
								</div>
								<div class="form-row">
									<div class="form-group col-md-4">
										<label>Fecha de nacimiento</label>
										<input type="date" class="form-control" name="nacimiento" [ngModel]="objAlumno.getFechaNacimiento() | date:'yyyy-MM-dd'"
										 (ngModelChange)="objAlumno.setFechaNacimiento($event)" id="txt-fechaNacimientoAlumno">
										<div class="valid-feedback">Correcto</div>
										<div class="invalid-feedback">Seleccione la Fecha</div>
									</div>
									<div class="form-group col-md-4">
										<label>Pais de nacimiento:</label>
										<input type="text" class="form-control" name="paisNacimiento" [ngModel]="objAlumno.getPaisOrigen()" (ngModelChange)="objAlumno.setPaisOrigen($event)"
										 id="txt-paisOrigenAlumno" placeholder="Ingrese el pais de Origen del Alumno">
										<div class="valid-feedback">Correcto</div>
										<div class="invalid-feedback">Escriba el Pais</div>
									</div>
									<div class="form-group col-md-4">
										<label>Nacionalidad:</label>
										<input type="text" class="form-control" name="nacionalidad" [ngModel]="objAlumno.getNacionalidad()" (ngModelChange)="objAlumno.setNacionalidad($event)"
										 id="txt-nacionalidadAlumno" placeholder="Ingrese la nacionalidad del Alumno">
										<div class="valid-feedback">Correcto</div>
										<div class="invalid-feedback">Escriba la Nacionalidad</div>
									</div>
								</div>
								<div class="form-row">
									<div class="form-group col-md-6">
										<label>Departamento de origen:</label>
										<input type="text" class="form-control" name="departamentoOrigen" [ngModel]="objAlumno.getDepartamentoNacimiento()" (ngModelChange)="objAlumno.setDepartamentoNacimiento($event)"
										 id="txt-deptoOrigenAlumno" placeholder="Departamento">
										<div class="valid-feedback">Correcto</div>
										<div class="invalid-feedback">Escriba el Departamento</div>
									</div>
									<div class="form-group col-md-6">
										<label>Lugar de nacimiento:</label>
										<input type="text" class="form-control" name="lugarNacimiento" [ngModel]="objAlumno.getLugarNacimiento()" (ngModelChange)="objAlumno.setLugarNacimiento($event)"
										 id="txt-lugarNacimientoAlumno" placeholder="Municipio, ciudad, aldea">
										<div class="valid-feedback">Correcto</div>
										<div class="invalid-feedback">Escriba el Lugar</div>
									</div>
								</div>
								<!-- <div class="form-group">
								<div class="col-sm-12">
								  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
								  <button class="btn btn-primary">Siguiente</button>
								</div>
							  </div> -->
							</div>
						</div>
						<!--inicio de tab de informacion de contacto-->
						<div class="tab-pane container" id="datosContacto">
							<div style="padding-top: 10px"></div>
							<div class="form-row">
								<div class="form-group col-md-6">
									<label>Correo electrónico:</label>
									<input type="email" name="correo" [ngModel]="objAlumno.getCorreo()" (ngModelChange)="objAlumno.setCorreo($event)" class="form-control"
									 id="txt-correoAlumno" placeholder="example@servidor.com">
									<div class="valid-feedback">Correcto</div>
									<div class="invalid-feedback">Escriba correctamente el Correo</div>
								</div>
								<div class="form-group col-md-3">
									<label>Número de celular:</label>
									<input type="phone" name="celular" [ngModel]="objAlumno.getCelular()" (ngModelChange)="objAlumno.setCelular($event)" class="form-control"
									 id="txt-celularAlumno" placeholder="2242-8701">
									<div class="valid-feedback">Correcto</div>
									<div class="invalid-feedback">Escriba el Celular</div>
								</div>
								<div class="form-group col-md-3">
									<label>Número teléfono fijo:</label>
									<input type="phone" name="telefono" class="form-control" [ngModel]="objAlumno.getTelefono()" (ngModelChange)="objAlumno.setTelefono($event)"
									 id="txt-telefonoAlumno" placeholder="2242-8701">
									<div class="valid-feedback">Correcto</div>
									<div class="invalid-feedback">Escriba el Telefono</div>
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-md-12">
									<label>Dirección de domicilio actual: </label>
									<textarea type="text" name="direccion" class="form-control" [ngModel]="objAlumno.getDireccion()" (ngModelChange)="objAlumno.setDireccion($event)"
									 id="txt-direccionAlumno" placeholder="Colonia, calle, avenida, casa, etc"></textarea>
									<div class="valid-feedback">Correcto</div>
									<div class="invalid-feedback">Escriba la Dirección</div>
								</div>
								<!-- <div class="form-group col-md-6">
					<input type="file" class="form-control" id="txt-imagenAlumno">
				  </div> -->
							</div>
						</div>
						<!-- inicio de tab de ficha medica:-->
						<div class="tab-pane container" id="fichaMedica">
							<div style="padding-top: 10px"></div>
							<div class="form-row">
								<div class="form-group col-md-12">
									<label>Tipo de sangre</label>
									<select name="tipoSangre" id="select_tipoSangre" class="form-control" [ngModel]="objAlumno.getTipoSangre()" (ngModelChange)="objAlumno.setTipoSangre($event)">
										<option value="">Seleccione uno</option>
										<option value="O positivo">O positivo</option>
										<option value="O negativo">O negativo</option>
										<option value="A positivo">A positivo</option>
										<option value="A negativo">A negativo</option>
										<option value="B positivo">B positivo</option>
										<option value="B negativo">B negativo</option>
										<option value="AB positivo">AB positivo</option>
										<option value="AB negativo">AB negativo</option>
									</select>
									<div class="valid-feedback">Correcto</div>
									<div class="invalid-feedback">Seleccione un Tipo de Sangre</div>
								</div>
								<div class="form-group col-md-12">
									<label>Padecimientos frecuentes: </label>
									<textarea name="padecimiento" type="text" class="form-control" [ngModel]="objAlumno.getEnfermedadesComunes()" (ngModelChange)="objAlumno.setEnfermedadesComunes($event)"
									 id="txtEnfermedades" placeholder="Alergias o padecimientos frecuentes"></textarea>
								</div>
								<div class="form-group col-md-12">
									<label>Condiciones especiales </label>
									<textarea name="condicionesExpeciales" type="text" class="form-control" [ngModel]="objAlumno.getCondicionesEspeciales()"
									 (ngModelChange)="objAlumno.setCondicionesEspeciales($event)" id="txtEnfermedades" placeholder="Condiciones especiales"></textarea>
								</div>
							</div>
						</div>

						<div class="tab-pane {{tabsTutor}} container" id="datosTutor">
							<div style="padding-top: 10px"></div>
							<button type="button" class="btn btn-primary" (click)="limpiarDatosTutor()" data-toggle="modal" data-target="#exampleModalLong">
								Agregar
							</button>
							<br>
							<hr>
							<table class="table table-bordered table-hover table-sm">
								<thead>
									<tr>
										<th>#</th>
										<th>Nombre</th>
										<th>Parentesco</th>
										<th>Teléfono celular</th>
										<th>Teléfono trabajo</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let tutores of TutoresAgregadosAlumno; index as i">
										<td>
											<button type="button" (click)="eliminarTutoresAlumnos(i)" class="btn btn-danger">
												<i class="far fa-trash-alt"></i>
											</button>
										</td>
										<td>{{tutores.nombre }} {{tutores.apellido }}</td>
										<td>{{tutores.parentesco }}</td>
										<td>{{tutores.celular }}</td>
										<td>{{tutores.telefonoTrabajo }}</td>
									</tr>
								</tbody>
							</table>

						</div>
					</div>
				</form>
			</div>
			<!--fin del cardboyd-->
			<div class="card-footer text-muted">
				<div class="btn-toolbar text-center" role="toolbar" aria-label="Toolbar with button groups">
					<div class="btn-group mr-2" role="group" aria-label="First group">
						<button id="btn_guardar_Alumno" type="button" class="btn btn-success" (click)="crearNuevoAlumno()">Guardar</button>
					</div>
					<div class="btn-group mr-2" role="group" aria-label="First group">
						<button id="btn_actualizar_Alumno" type="button" class="btn btn-warning" (click)="actualizaAlumno()">Actualizar</button>
					</div>
					<div class="btn-group mr-2" role="group" aria-label="Second group">
						<button id="btn_continuar_Alumno" type="button" class="btn btn-primary" (click)="goToNewsTabs()">Continuar</button>
					</div>
					<div class="btn-group" role="group" aria-label="Third group">
						<button type="button" class="btn btn-danger" (click)="goToAlumnos()">Volver</button>
					</div>
				</div>
			</div>
		</div>
		<!--fin de card-->
	</div>

</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Formulario de Tutor o Responsable</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="form-row">
					<div class="form-group col-md-4">
						<label>Identificacion: </label>
					</div>
					<div class="form-group col-md-8">
						<input type="text" name="identificacionTutor" class="form-control" id="txt-identificacionTutor" [ngModel]="nuevoTutor.getIdentidad()"
						 (ngModelChange)="nuevoTutor.setIdentidad($event)" placeholder="1234-1234-12345">
						<div class="valid-feedback">Correcto</div>
						<div class="invalid-feedback">Escriba la Identificacion</div>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-4">
						<label>Nombre del tutor:</label>
					</div>
					<div class="form-group col-md-8">
						<input type="text" name="nombreTutor" class="form-control" id="txt-nombreTutor" [ngModel]="nuevoTutor.getNombre()" (ngModelChange)="nuevoTutor.setNombre($event)"
						 placeholder="Nombre del tutor">
						<div class="valid-feedback">Correcto</div>
						<div class="invalid-feedback">Escriba el nombre</div>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-4">
						<label>Apellido del tutor:</label>
					</div>
					<div class="form-group col-md-8">
						<input type="text" name="apellidoTutor" class="form-control" id="txt-apellidoTutor" [ngModel]="nuevoTutor.getApellido()"
						 (ngModelChange)="nuevoTutor.setApellido($event)" placeholder="Apellido del tutor">
						<div class="valid-feedback">Correcto</div>
						<div class="invalid-feedback">Escriba el apellido</div>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-4">
						<label>Parentesco: </label>
					</div>
					<div class="form-group col-md-8">
						<input type="text" name="parentescoTutor" class="form-control" id="txt-parentescoTutor" [ngModel]="nuevoTutor.getParentesco()"
						 (ngModelChange)="nuevoTutor.setParentesco($event)" placeholder="Tipo de parentesco">
						<div class="valid-feedback">Correcto</div>
						<div class="invalid-feedback">Escriba el Parentesco</div>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-4">
						<label>Genero:</label>
					</div>
					<div class="form-group col-md-8">
						<select name="sexoTutor" class="form-control" id="txt-sexoTutor" [ngModel]="nuevoTutor.getSexo()" (ngModelChange)="nuevoTutor.setSexo($event)">
							<option value="1">Seleccione uno</option>
							<option> Masculino</option>
							<option>Femenino</option>
						</select>
						<div class="valid-feedback">Correcto</div>
						<div class="invalid-feedback">Seleccione el Genero</div>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-4">
						<label>Telefono celular: </label>
					</div>
					<div class="form-group col-md-8">
						<input type="text" name="telefonoCelular" class="form-control" id="txt-telefonoCelularTutor" [ngModel]="nuevoTutor.getCelular()"
						 (ngModelChange)="nuevoTutor.setCelular($event)" placeholder="9999-9999">
						<div class="valid-feedback">Correcto</div>
						<div class="invalid-feedback">Escriba el Celular</div>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-4">
						<label>Telefono del trabajo: </label>
					</div>
					<div class="form-group col-md-8">
						<input type="text" name="telefonoTrabajoTutor" class="form-control" id="txt-telefonoTrabajoTutor" [ngModel]="nuevoTutor.getTelefonoTrabajo()"
						 (ngModelChange)="nuevoTutor.setTelefonoTrabajo($event)" placeholder="Telefono del trabajo">
						<div class="valid-feedback">Correcto</div>
						<div class="invalid-feedback">Escriba el Telefono del Trabajo</div>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-4">
						<label>Lugar de trabajo: </label>
					</div>
					<div class="form-group col-md-8">
						<input type="text" name="lugarDeTrabajoTutor" class="form-control" id="txt-lugarDeTrabajoTutor" [ngModel]="nuevoTutor.getLugarTrabajo()"
						 (ngModelChange)="nuevoTutor.setLugarTrabajo($event)" placeholder="Lugar de trabajo">
						<div class="valid-feedback">Correcto</div>
						<div class="invalid-feedback">Escriba el Lugar de Trabajo</div>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-4">
						<label>Correo electrónico:</label>
					</div>
					<div class="form-group col-md-8">
						<input type="email" name="correo" class="form-control" id="txt-correoTutor" [ngModel]="nuevoTutor.getCorreo()" (ngModelChange)="nuevoTutor.setCorreo($event)"
						 placeholder="example@servidor.com">
						<div class="valid-feedback">Correcto</div>
						<div class="invalid-feedback">Escriba el Correo</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
				<button type="button" class="btn btn-primary" (click)="guardarTutor()">Guardar</button>
			</div>
		</div>
	</div>
</div>

<!--Modales de exito o error-->
<div class="modal" tabindex="-1" role="dialog" id="modal-exito_alumno">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title">Exito</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
		  
		</div>
		<div class="modal-footer">
		  
		</div>
	  </div>
	</div>
  </div>