<div class="container-fluid">
  <!-- inicio de container principal-->
  <div class="col-sm-12 col-md-12 col-xl-12">
    <!--inicio de card o panel de contenido-->
    <div class="card  custom-card">
      <!-- encabezado o cinta de links-->
      <div class="card-header custom-card-header">
        <!--Menu de la Aulas y Logistica-->
        <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
          <!-- <li class="nav-item">
            <a class="nav-link disabled" ><i class="fas fa fa-university fa-1x"></i>  Administracion de Aulas y Logistica</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link active" id="aulas-tab" data-toggle="tab" href="#aulas" role="tab" aria-controls="aulas" aria-selected="false">
              <i class="fas fa fa-university fa-1x"></i> Aulas y Logistica
            </a>
          </li>
        </ul>
      </div>
      <!-- fin de nav-tabs-->
      <!-- inicio de tab-contents-->
      <div class="card-body custom-card-body">
        <!--Tab panes de la administracion de aulas-->
        <div class="tab-content col-md-12" id="myTabContentAdminAulas" style="padding-top: 20px;">
          <div class="tab-pane fade show active" id="aulas" role="tabpanel" aria-labelledby="aulas-tab">
            <!--Boton para crear Aulas-->
            <button id="btn-nuevaAula" type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#newAula" style="margin-bottom: 20px;"
              (click)="nuevaAula()">
              <i class="fas fa-plus"></i> Nueva Aula
            </button>

            <!--Tabla de registros de aulas-->
            <table datatable [dtOptions]="dtOptions[0]" [dtTrigger]="dtTrigger[0]" class="table table-bordered table-hover table-sm">
              <thead class="thead-light">
                <tr>
                  <th class="d-none">Codigo</th>
                  <th class="d-none">nombreAula</th> 
                  <th scope="col">#</th>
                  <th scope="col">Descripcion</th>
                  <th scope="col">Capacidad</th>
                  <th scope="col">Habilitar/Desabilitar</th>
                  <th class="d-none">habilitado</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let aula of inAulasJsonArray; index as i">
                  <td class="d-none">{{aula.codAula}}</td>
                  <td class="d-none">{{aula.descripcion}}</td> 
                  <td>{{ i+1 }}</td>
                  <td ><span (click)="actualizarAula()" class="my-link">{{ aula.descripcion }}</span></td>
                  <td>{{ aula.capacidad }}</td>
                  <td>
                    <button (click)="actualizarAula()" class="btn btn-sm">
                      <i class="fas fa-edit"></i>
                    </button>
                    <button class="btn btn-sm" (click)="activar(aula.codAula)"
                            [class.btn-success]="habilitado(aula.habilitada)" 
                            [class.btn-danger]="deshabilitado(aula.habilitada)"
                          value="Habilitar">{{setCheckStatus(aula.habilitada)}}
                    </button> 
                  </td>
                  <td class="d-none">{{aula.habilitada}}</td>
                </tr>
              </tbody>
            </table>

            <!--Modal para registrar y actualizar aulas -->
            <div class="modal fade" id="newAula">
              <div class="modal-dialog">
                <div class="modal-content">
                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title">Registrar Aula</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <form>
                    <!-- Modal body -->
                    <div class="modal-body">
                      <div class="form-group">
                        <label for="txt-descripcionAula">Descripcion</label>
                        <textarea type="text" name="descripcionAula" [(ngModel)]="crearAula.descripcion" class="form-control" id="txt-descripcionAula"
                          placeholder="Escriba una breve descripcion de la aula">
                            </textarea>
                            <div class="valid-feedback">Correcto</div>
                            <div class="invalid-feedback">Escriba una breve descripcion de la aula</div>
                      </div>
                      <div class="form-group">
                        <label for="txt-capacidadAula">Capacidad</label>
                        <input type="number" class="form-control" id="txt-unidadesCurso" name="capacidadAula" [(ngModel)]="crearAula.capacidad">
                        <div class="valid-feedback">Correcto</div>
                        <div class="invalid-feedback">Seleccione la capacidad del aula</div>
                      </div>
                      <fieldset class="form-group">
                        <div class="row">
                          <legend class="col-form-label col-sm-4 pt-0">Estado de la Aula</legend>
                          <div class="col-sm-10">
                            <div class="form-check">
                              <input class="form-check-input" [ngModel]="crearAula.habilitada" (ngModelChange)="crearAula.habilitada" type="radio" name="gridRadiosAula" id="check-habilitada-aula"
                                value="1">
                              <label class="form-check-label" for="check-habilitada-aula">
                                Habilitar
                              </label>
                            </div>
                            <div class="form-check">
                              <input class="form-check-input" [ngModel]="crearAula.habilitada" (ngModelChange)="crearAula.habilitada" type="radio" name="gridRadiosAula" id="check-desahabilitada-aula"
                                value="2">
                              <label class="form-check-label" for="check-desahabilitada-aula">
                                Desabilitar
                              </label>
                              <div class="valid-feedback">Correcto</div>
                              <div class="invalid-feedback">Seleccione un estado del aula</div>
                            </div>
                          </div>
                        </div>
                      </fieldset>
                    </div>



                    <!-- Modal footer -->
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                      <button class="btn btn-warning" (click)="enviarDatosActualizarAula()" id="btn-actualizar">Actualizar</button>
                      <button class="btn btn-success" (click)="enviarDatosCrearAula()" id="btn-guardar">Guardar</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div> 
      </div>
      <!-- fin de card body-->
    </div>
    <!-- fin del card container-->

  </div>
  <!-- fin del contenedor delimitador de columnas -->
</div>

<!--Modales de exito o error-->
<div class="modal" tabindex="-1" role="dialog" id="modal-exito_aula">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title">Exito</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
		  
		</div>
		<div class="modal-footer">
		  
		</div>
	  </div>
	</div>
  </div>