<nav class="navbar fixed-top navbar-expand-sm navbar-light my-nav-bar">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <h3 class="font-weight-normal ">
    Agora 
  </h3>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav ml-auto ">
      <li class="nav-item active">
        <a routerLink="/login" class="btn btn-outline-success" >Iniciar sesión</a>
      </li>
      <li class="nav-item">
        <a href="#" class="btn btn-success" role="button" aria-pressed="true">Comenzar</a>
      </li>  
    </ul>
  </div>
</nav>