.my-nav-bar{
    border-color: black;
    background-color: #fff;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 0px 1px 0 rgba(0, 0, 0, 0.1);
}