<ul class="list-group list-group-flush text-center">

  <a routerLink="admin-dashboard" class="list-group-item list-group-item-action custom-link-ad" (click)="isActive(0)" [ngClass]="{'active': dashboardIsActive}">
    <i class="fas fa-columns fa-2x"></i>

    <span style="font-size:12px;">Inicio</span>
  </a>
  <a routerLink="admin-usuarios" class="list-group-item list-group-item-action custom-link-ad" (click)="isActive(1)" [ngClass]="{'active': usuarioIsActive}">
    <i class="fas fa-users fa-2x"></i>
    <span style="font-size:12px;">Usuarios</span>
  </a>
  <a routerLink="admin-cursos" class="list-group-item list-group-item-action custom-link-ad" (click)="isActive(2)" [ngClass]="{'active': cursosdIsActive}">
    <i class="fas fa-book fa-2x"></i>

    <span style="font-size:12px;">Cursos</span>
  </a>
  <a routerLink="admin-lectivo" class="list-group-item list-group-item-action custom-link-ad" (click)="isActive(3)" [ngClass]="{'active': lectivosIsActive}">
    <i class="fas fa-calendar-alt fa-2x"></i>
    <span style="font-size:12px;">Lectivos</span>
  </a>
  <!--

    <a routerLink="admin-ajuste" class="list-group-item list-group-item-action custom-link-ad" (click)="isActive(4)" [ngClass]="{'active': ajusteIsActive}">
      <i class="fas fa-cogs fa-2x"></i>
      <span style="font-size:12px;">Ajuste</span>
    </a>
  -->
</ul>