<app-top-nav-bar [loggedUserName]="postUsuario.nombre" [strAccesos]="postUsuario.accesos">
</app-top-nav-bar>
<app-my-side-nav [accesos]="postUsuario.default"></app-my-side-nav>
<app-main-content [personaLogeada]="persona"></app-main-content>