<div class="container-fluid">
  <!--Inicio de container principal-->
  <div class="col-sm-12 col-md-12 col-xl-12">
    <!--Inicio de card o panel de contenido-->
    <div class="card  custom-card">
      <!-- encabezado o cinta de tab-links-->
      <div class="card-header custom-card-header">
        <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
          <!-- <li class="nav-item nav-link"> 
              <i class="fas fa fa-cogs fa-1x"></i> Administracion de Cursos
          </li> -->
          <li class="nav-item">
            <a class="nav-link active" id="cursos-tab" data-toggle="tab" href="#cursos" role="tab" aria-controls="cursos" aria-selected="false">
              <i class="fas fa fa-book fa-1x"></i> Cursos
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="asignaturas-tab" data-toggle="tab" href="#asignaturas" role="tab" aria-controls="asignaturas" aria-selected="false">
              <i class="far fa-file-alt"></i> Asignaturas
            </a>
          </li>
        </ul>
      </div>
      <!--fin de cinta de tab-links-->
      <!-- inicio de tab-contents-->
      <div class="card-body custom-card-body">
        <div class="tab-content col-md-12" id="myTabContentAdminCursos">
          <!--inicio Tab panes de la administracion de cursos-->
          <div class="tab-pane fade show active" id="cursos" role="tabpanel" aria-labelledby="cursos-tab">
            <!--tab con tabla que contiene todos los cursos-->
            <div id="tabCursos" class="col-xs-12 col-md-12" [class.d-none]="tabCursos">
              <!-- botones de funciones basicas-->
              <div class="btn-group" role="group" aria-label="Basic example">
                <button class="btn btn-outline-secondary" id="btn2" (click)="goToTab(2)">
                  <i class="fas fa-plus"></i> Nuevo </button>
              </div>
              <br>
              <br>
              <!-- inicio de tabla con datos de cursos-->
              <table datatable [dtOptions]="dtOptions[0]" [dtTrigger]="dtTrigger[0]" class="table table-bordered table-hover table-sm">
                <thead>
                  <tr>
                    <th class="d-none"></th>
                    <th class="d-none"></th>
                    <th scope="col">#</th>
                    <th scope="col">Modalidad</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Asignaturas</th>
                    <th scope="col">Estado</th>
                    <th class="d-none"></th>
                    <th class="d-none"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let curso of inCursosJsonArray; index as i">
                    <td class="d-none">{{curso.codCurso}}</td>
                    <td class="d-none">{{curso.nombreCurso}}</td>
                    <td>{{ i+1}}</td>
                    <td>{{ curso.modalidad }}</td>
                    <td>
                      <span class="my-link" (click)="goToTab(3)">{{ curso.nombreCurso }}</span>
                    </td>
                    <td>{{ curso.numeroAsignaturas }}</td>
                    <td>
                      <button id="Noveno" class="btn btn-sm" [class.btn-success]="habilitado(curso.habilitado)" [class.btn-danger]="deshabilitado(curso.habilitado)"
                        value="Habilitar" (click)="                                                               (curso.codCurso)">{{setCheckStatus(curso.habilitado)}}</button>
                    </td>
                    <td class="d-none">{{curso.habilitado}}</td>
                    <td class="d-none">{{curso.codModalidad}}</td>
                    <!-- <td>
                      <div class="custom-control custom-checkbox">
												<input type="checkbox" class="custom-control-input" id="customCheck1">
												<label class="custom-control-label">{{setCheckStatus(curso.habilitado)}}</label>
											</div>
                    </td> -->
                  </tr>
                </tbody>
              </table>
              <!-- fin de tabla condatos de cursos -->
            </div>
            <!-- fin de tab cursos-->
            <!-- tab agreagr nuevo curso-->
            <div id="tabNuevoCurso" class="col-xs-12 col-md-6 offset-md-3" [class.d-none]="tabNuevoCurso">
              <div class="card ">
                <div class="card-body">
                  <h5 class="card-title text-center">Crear un nuevo curso</h5>
                  <form>
                    <div class="form-group">
                      <label class="custom-control-label">Tipo de modalidad</label>
                      <select class="form-control" name="slct-modalidad" id="slct-modalidades" (ngModelChange)="Curso.setCodModalidad($event)"
                        [ngModel]="Curso.getCodModalidad()">
                        <option *ngFor="let Modalidad of Modalidades" [value]="Modalidad.codModalidad">{{Modalidad.modalidad}}</option>
                      </select>
                      <div class="valid-feedback">Correcto</div>
                      <div class="invalid-feedback">Seleccione una modalidad</div>
                    </div>
                    <div class="form-group">
                      <label class="custom-control-label">Nombre del curso</label>
                      <input type="text" class="form-control" id="txt-nombreCurso" name="nombreCurso" (ngModelChange)="Curso.setNombreCurso($event)"
                        [ngModel]="Curso.getNombreCurso()" placeholder="Nombre del Curso">
                      <div class="valid-feedback">Correcto</div>
                      <div class="invalid-feedback">Escriba el nombre del Curso</div>
                    </div>
                    <div class="form-group">
                      <label class="custom-control-label">Agregar Asignaturas al curso</label>

                      <table class="table table-bordered table-hover table-sm">
                        <thead>
                          <tr>
                            <th scope="col"></th>
                            <th scope="col">Nombre Asignatura</th>
                            <th scope="col">Dias</th>
                          </tr>
                        </thead>
                        <tbody>

                          <tr *ngFor="let asignaturaCurso of AsignaturaAgregadasCurso; index as i">
                            <td>
                              <button type="button" (click)="eliminarAsignaturaCurso(i)" class="btn btn-danger">
                                <i class="far fa-trash-alt"></i>
                              </button>
                            </td>
                            <td>{{asignaturaCurso.asignatura}}</td>
                            <td>{{asignaturaCurso.dias}}</td>

                          </tr>
                          <tr>
                            <td>
                              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#agregarAsignatura">
                                <i class="fas fa-plus"></i>
                              </button>
                            </td>
                            <td></td>
                            <td></td>

                          </tr>
                        </tbody>
                      </table>
                    </div>

                    <fieldset class="form-group">
                      <div class="row">
                        <legend class="col-form-label col-sm-8 pt-0">Estado de Curso</legend>
                        <div class="col-sm-10">
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadiosCurso" id="check-habilitado-curso" value="1" (ngModelChange)="Curso.setEstadoCurso($event)"
                              [ngModel]="Curso.getEstadoCurso()" checked>
                            <label class="form-check-label" for="check-habilitado-curso">
                              Habilitado
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadiosCurso" id="check-desahabilitado-curso" value="2" (ngModelChange)="Curso.setEstadoCurso($event)"
                              [ngModel]="Curso.getEstadoCurso()">
                            <label class="form-check-label" for="check-desahabilitado-curso">
                              Deshabilitado
                            </label>
                            <div class="valid-feedback">Correcto</div>
                            <div class="invalid-feedback">Seleccione un estado correspondiente al curso</div>
                          </div>
                        </div>
                      </div>
                    </fieldset>
                    <div class="form-group row">
                      <div class="col-sm-12">
                        <button class="btn btn-danger" (click)="goToTab(1)">Cancelar</button>
                        <button class="btn btn-success " (click)="agregarNuevoCurso()">Guardar</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>




            <!--fin tab agregar nuevo curso-->
            <!--tab actualizar  uncurso -->
            <div id="tabUpdateCurso" class="col-xs-12 col-md-6 offset-md-3" [class.d-none]="tabUpdateCurso">
              <div class="card ">
                <div class="card-body">
                  <h5 class="card-title text-center">Editar información de curso</h5>
                  <form>
                    <div class="form-group">
                      <!-- <label for="txt-modalidadCursoUpdate">Nueva Modalidad</label> -->
                      <select class="form-control" name="slct-modalidadAct" id="slct-modalidadAct" [ngModel]="Act_Curso.getCodModalidad()" (ngModelChange)="Act_Curso.setCodModalidad($event)">
                        <!-- <option value="{{Act_Curso.getCodModalidad()}}">{{Act_Curso.getModalidad()}}</option>  -->
                        <option *ngFor="let Modalidad of Modalidades" [value]="Modalidad.codModalidad">{{Modalidad.modalidad}}</option>
                      </select>
                      <div class="valid-feedback">Correcto</div>
                      <div class="invalid-feedback">Seleccione una Modalidad</div>
                    </div>
                    <div class="form-group">
                      <!-- <label for="txt-nombreCursoUpdate">Nombre nuevo</label> -->
                      <input type="text" class="form-control" id="txt-nombreCursoUpdate" name="updateNombreCurso" [ngModel]="Act_Curso.getNombreCurso()"
                        (ngModelChange)="Act_Curso.setNombreCurso($event)" placeholder="Nombre nuevo del Curso">
                      <div class="valid-feedback">Correcto</div>
                      <div class="invalid-feedback">Escriba el nombre del Curso</div>
                    </div>
                    <div class="form-group">
                      <label class="custom-control-label">Agregar Asignaturas al curso</label>
                      <table class="table table-bordered table-hover table-sm">
                        <thead>
                          <tr>
                            <th scope="col"></th>
                            <th scope="col">Nombre Asigatura</th>
                            <th scope="col">Dias</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let asignaturaCurso of AsignaturaAgregadasCurso; index as i">
                            <td>
                              <button type="button" (click)="eliminarAsignaturaCurso(i)" class="btn btn-danger">
                                <i class="far fa-trash-alt"></i>
                              </button>
                            </td>
                            <td>{{asignaturaCurso.asignatura }}</td>
                            <td>{{asignaturaCurso.dias }}</td>
                          </tr>
                          <tr>
                            <td>
                              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#agregarAsignatura">
                                <i class="fas fa-plus"></i>
                              </button>
                            </td>
                            <td></td>
                            <td></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <fieldset class="form-group">
                      <div class="row">
                        <legend class="col-form-label col-sm-4 pt-0">Estado nuevo del Curso</legend>
                        <div class="col-sm-10">
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadiosCursoUpdate" id="check-habilitado-cursoUpdate" [ngModel]="Act_Curso.getEstadoCurso()"
                              (ngModelChange)="Act_Curso.setEstadoCurso($event)" value="1">
                            <label class="form-check-label" for="check-habilitado-cursoUpdate">
                              Habilitado
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadiosCursoUpdate" id="check-desabilitado-cursoUpdate" [ngModel]="Act_Curso.getEstadoCurso()"
                              (ngModelChange)="Act_Curso.setEstadoCurso($event)" value="0">
                            <label class="form-check-label" for="check-desabilitado-cursoUpdate">
                              Deshabilitado
                            </label>
                          </div>
                        </div>
                        <div class="valid-feedback">Correcto</div>
                        <div class="invalid-feedback">Seleccione una opcion de Estado</div>
                      </div>
                    </fieldset>
                    <div class="form-group row">
                      <div class="col-sm-12">
                        <button class="btn btn-danger" (click)="goToTab(1)">Cancelar</button>
                        <button class="btn btn-warning" (click)="actualizarCurso()">Guardar</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <!-- fin tab actualizar curso -->
          </div>
          <!--fin Tab panes de la administracion de cursos-->
          <!--Inicio de tab de administracion de asignaturas-->
          <div class="tab-pane fade" id="asignaturas" role="tabpanel" aria-labelledby="asignaturas-tab">
            <!--inicio de tabla con todas las asignaturas-->
            <div id="tabAsignaturas" class="col-xs-12 col-md-12" [class.d-none]="tabAsignaturas">
              <!-- botones de funciones basicas-->
              <div class="btn-group" role="group" aria-label="Basic example">
                <button class="btn btn-outline-secondary" id="btn2" (click)="goToAsigTab(2)">
                  <i class="fas fa-plus"></i> Nueva </button>
              </div>
              <br>
              <br>
              <table datatable [dtOptions]="dtOptions[1]" [dtTrigger]="dtTrigger[1]" class="table table-bordered table-hover table-sm">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th class="d-none"></th>
                    <th scope="col">Codigo</th>
                    <th class="d-none"></th>
                    <th scope="col">Asignatura</th>
                    <th scope="col">Dias</th>
                    <th scope="col">Cursos Asignados</th>
                    <th class="d-none"></th>
                    <th class="d-none"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let asignatura of inAsignaturasJsonArray; index as a">
                    <td>{{ a+1 }}</td>
                    <td class="d-none">{{asignatura.codAsignatura}}</td>
                    <td>{{ asignatura.codAsignatura }}</td>
                    <td class="d-none">{{asignatura.asignatura}}</td>
                    <td>
                      <span class="my-link" (click)="goToAsigTab(3)">{{ asignatura.asignatura }}</span>
                    </td>
                    <td>{{ asignatura.dias }}</td>
                    <td>{{ asignatura.nombreCurso }}</td>
                    <td class="d-none">{{ asignatura.codCurso }}</td>
                    <td class="d-none">{{ asignatura.habilitado }}</td>

                  </tr>
                </tbody>
              </table>
            </div>
            <!--fin de tabla con todas las asignaturas-->
            <!--inicio de tab nueva asignatura-->
            <div id="tabNewAsignatura" class="col-xs-12 col-md-6 offset-md-3" [class.d-none]="tabNewAsignatura">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title text-center">Crear una nueva asignatura:</h5>
                  <form>
                    <div class="form-group row">
                      <div class="col-sm-10">
                        <input disabled type="text" class="form-control" name="txt-codAsignatura" [ngModel]="Asignatura.getCodAsignatura()" (ngModelChange)="Asignatura.setCodAsignatura($event)"
                          placeholder="Codigo de la Asignatura">
                        <div class="valid-feedback">Correcto</div>
                        <div class="invalid-feedback">Escriba el codigo correspondiente a la Asignatura</div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-sm-12">
                        <input type="text" class="form-control" name="txt-nombreAsignatura" [ngModel]="Asignatura.getNombreAsignatura()" (ngModelChange)="Asignatura.setNombreAsignatura($event)"
                          placeholder="Nombre de la Asignatura">
                        <div class="valid-feedback">Correcto</div>
                        <div class="invalid-feedback">Escriba el nombre de la Asignatura</div>
                      </div>
                    </div>
                    <fieldset class="form-group">
                      <div class="row">
                        <legend class="col-form-label col-sm-12 pt-0">Estado de Asignatura</legend>
                        <div class="col-sm-12">
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="estado-asignatura" id="check-habilitado-asignatura" value="1" [ngModel]="Asignatura.getEstadoAsignatura()"
                              (ngModelChange)="Asignatura.setEstadoAsignatura($event)" checked>
                            <label class="form-check-label" for="check-habilitado-asignatura">
                              Habilitado
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="estado-asignatura" id="check-desahabilitado-asignatura" value="2" [ngModel]="Asignatura.getEstadoAsignatura()"
                              (ngModelChange)="Asignatura.setEstadoAsignatura($event)">
                            <label class="form-check-label" for="check-desahabilitado-asignatura">
                              Desahabilitado
                            </label>
                            <div class="valid-feedback">Correcto</div>
                            <div class="invalid-feedback">Seleccione un estado correspondiente a la Asignatura</div>
                          </div>
                        </div>
                      </div>
                    </fieldset>
                    <div class="form-group text-center">
                      <div class="col-sm-12">
                        <button class="btn btn-danger" (click)="goToAsigTab(1)">Cancelar</button>
                        <button class="btn btn-success" (click)="agregarAsignatura()">Guardar</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <!--inicio de tab update asignatura-->
            <div id="tabUpdateAsignatura" class="col-xs-12 col-md-6 offset-md-3" [class.d-none]="tabUpdateAsignatura">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title text-center">Actualizar una asignatura:</h5>
                  <form>
                    <div class="form-group row">
                      <div class="col-sm-10">
                        <input type="text" class="form-control" name="txt-codAsignaturaUpdate" placeholder="Codigo de la Asignatura" [ngModel]="Act_Asignatura.getCodAsignatura()"
                          (ngModelChange)="Act_Asignatura.setCodAsignatura($event)">
                        <div class="valid-feedback">Correcto</div>
                        <div class="invalid-feedback">Escriba el codigo correspondiente a la Asignatura</div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-sm-12">
                        <input type="text" class="form-control" name="txt-nombreAsignaturaUptade" placeholder="Nombre de la Asignatura" [ngModel]="Act_Asignatura.getNombreAsignatura()"
                          (ngModelChange)="Act_Asignatura.setNombreAsignatura($event)">
                        <div class="valid-feedback">Correcto</div>
                        <div class="invalid-feedback">Escriba el nombre de la Asignatura</div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-sm-12">
                        <select class="form-control" name="slct-cursosUpdate" [ngModel]="Act_Asignatura.getCodCurso()" (ngModelChange)="Act_Asignatura.setNuevoCodCurso($event)"
                          id="slct-cursosUpdate">
                          <option *ngFor="let Curso of inCursosJsonArray" [value]="Curso.codCurso">{{Curso.nombreCurso}}</option>
                        </select>
                        <div class="valid-feedback">Correcto</div>
                        <div class="invalid-feedback">Seleccione un Curso para la Asignatura</div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="txt-diasAsignaturaUpdate" class="col-sm-12 col-form-label" min="1">Seleccione los días:</label>
                    </div>
                    <div class="form-group row">
                      <div class="col-sm-6" id="diasAsignaturaUpdate">
                        <div class="form-check" *ngFor="let dia of Dias">
                          <input class="form-check-input" type="checkbox" [value]="dia.value" name="chkdiasUpdate" [checked]="dia.checked" (change)="dia.checked = !dia.checked">
                          <label class="form-check-label" for="defaultCheck1"> {{dia.name}}</label>
                        </div>
                      </div>
                    </div>
                    <fieldset class="form-group">
                      <div class="row">
                        <legend class="col-form-label col-sm-12 pt-0">Estado de Asignatura</legend>
                        <div class="col-sm-12">
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="estado-asignaturaUpdate" id="check-habilitado-asignatura" value="1" [ngModel]="Act_Asignatura.getEstadoAsignatura()"
                              (ngModelChange)="Act_Asignatura.setEstadoAsignatura($event)" checked>
                            <label class="form-check-label" for="check-habilitado-asignatura">
                              Habilitado
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="estado-asignaturaUpdate" id="check-desahabilitado-asignatura" value="2"
                              [ngModel]="Act_Asignatura.getEstadoAsignatura()" (ngModelChange)="Act_Asignatura.setEstadoAsignatura($event)">
                            <label class="form-check-label" for="check-desahabilitado-asignatura">
                              Desahabilitado
                            </label>
                            <div class="valid-feedback">Correcto</div>
                            <div class="invalid-feedback">Seleccione un estado correspondiente a la Asignatura</div>
                          </div>
                        </div>
                      </div>
                    </fieldset>
                    <div class="form-group row">
                      <div class="col-sm-12 text-center">
                        <button class="btn btn-danger" (click)="goToAsigTab(1)">Cancelar</button>
                        <button class="btn btn-success" (click)="actualizarAsignatura()">Guardar</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- fin de tab de administracion de asignaturas-->
        </div>
      </div>
      <!-- fin de tab-contents (card-body)-->
    </div>
    <!-- fin de card o panel de contenido -->
  </div>
</div>

<!--Modales de exito o error-->


<div class="modal" tabindex="-1" role="dialog" id="modal-exito">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Exito</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>

<!-- modal para agregar un asigatura con un curso -->


<!-- Modal -->
<div class="modal fade" id="agregarAsignatura" tabindex="-1" role="dialog" aria-labelledby="asignaturaModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="asignaturaModalLabel">Asignacion de asignatura</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label class="custom-control-label">Asignatura</label>
            <input ngui-auto-complete [max-num-list]="10" [source]="AsignaturaListJsonArray" name="asignaturaXcurso" type="text" class="form-control"
              (ngModelChange)="asignarAsignatura.setCodAsignatura($event.codAsignatura);asignarAsignatura.setNombreAsignatura($event.asignatura)"
              [ngModel]="asignarAsignatura.getNombreAsignatura()" id="txt-asignaturaXcurso" placeholder="Ingrese nombre de la asignatura"
              value-formatter="asignatura" list-formatter="asignatura">
            <div class="valid-feedback">Correcto</div>
            <div class="invalid-feedback">Seleccione una modalidad</div>
          </div>
          <div class="form-group row">
            <label for="txt-diasAsignatura" class="col-sm-12 col-form-label">Seleccione los días:</label>
          </div>
          <div class="form-group">
            <div class="col-sm-6" id="diasAsignatura">
              <div class="form-check" *ngFor="let dia of Dias">
                <input class="form-check-input" type="checkbox" [value]="dia.value" name="chkdias" [checked]="dia.checked" (change)="dia.checked = !dia.checked">
                <label class="form-check-label" for="defaultCheck1"> {{dia.name}}</label>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Volver</button>
        <button type="button" class="btn btn-success" (click)="AgregarAsignaturaACurso()" data-dismiss="modal">Agregar</button>
      </div>
    </div>
  </div>
</div>