<div class="container-fluid">
  <!-- inicio de container principal-->
  <div class="col-sm-12 col-md-12 col-xl-12">
    <!--inicio de card o panel de contenido-->
    <div class="card  custom-card">
      <!-- fin de nav-tabs-->
      <!-- inicio de tab-contents-->
      <div class="card-body custom-card-body">
        <div class="tab-content col-md-12" id="myTabContent">
          <!--Tab panes de la administracion de los expediente-->
          <div class="tab-pane fade show active" id="expediente" role="tabpanel" aria-labelledby="expediente-tab">
            <!--inicio tab tabla expediente div1-->

            <div id="div1" class="col-xs-12 col-md-12">
              <form class="form-inline">
                <div class="input-group mb-3">
                  <input type="text" class="form-control" id="txtNombreAlumno" placeholder="Nombre de alumno" aria-describedby="basic-addon2">
                  <div class="input-group-append">
                    <button class="btn btn-secondary" type="button">
                      <i class="fas fa-search 2x"></i>
                    </button>
                  </div>
                </div>
                <div class="form-group mx-sm-3 mb-2">
                  <button class="btn btn-outline-secondary" (click)="removerDatos()" data-toggle="modal" data-target="#exampleModal">
                    <i class="fas fa-user-plus"></i> Agregar Incidencia
                  </button>
                </div>
              </form>
              <div class="form-row">
                <div class="form-group col-sm-2">
                  <h6>Nombre de Alumno: </h6>
                </div>
                <div class="form-group col-sm-4">
                  <h6>{{nameTag}}</h6>
                </div>
              </div>
              <table datatable [dtOptions]="dtOptions[0]" [dtTrigger]="dtTrigger[0]" class="table table-bordered table-hover table-sm">
                <thead class="thead-light">
                  <tr>
                    <th class="d-none">??</th>
                    <th class="d-none">??</th>
                    <th scope="col">#</th>
                    <th scope="col">Fecha incidencia</th>
                    <th scope="col">Tipo Incidencia</th>
                    <th scope="col">Incidencia</th>
                    <th scope="col">Ingresado por:</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody name="tb-incidencias" *ngIf="showIncidenciasJsonArray">
                  <tr *ngFor="let incidencia of incidenciasJsonArray; index as i">
                    <td class="d-none">campo</td>
                    <td class="d-none">campo</td>
                    <td>{{i+1}}</td>
                    <td>{{incidencia.fecha}}</td>
                    <td>{{incidencia.tipoIncidencia}}</td>
                    <td>{{incidencia.tituloIncidencia}}</td>
                    <td>{{incidencia.ReportadoPor}} </td>
                    <td>
                      <button class="btn btn-sm flag">
                        <i class="fas fa-edit"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- fin tab tabla alumno-->
          </div>
        </div>
      </div>
      <!-- fin de card body-->
    </div>
    <!-- fin del card container-->
  </div>
  <!-- fin del contenedor delimitador de columnas -->

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Registro de Incidencia</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Título de incidente:</label>
              <div class="col-sm-8">
                <input type="text" name="txt-tituloIncidencia" id="txt-tituloIncidencia" [ngModel]="nuevaIncidencia.getTituloIncidencia()" (ngModelChange)="nuevaIncidencia.setTituloIncidencia($event)"
                  class="form-control" placeholder="Titulo de incidente">
                  <div class="valid-feedback">Correcto</div>
								  <div class="invalid-feedback">Escriba el Titulo de la Incidencia</div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Fecha incidencia:</label>
              <div class="col-sm-8">
                <input type="date" name="txt-fechaIncidencia" id="txt-fechaIncidencia" [ngModel]="nuevaIncidencia.getFechaIncidencia() | date:'yyyy-MM-dd'" (ngModelChange)="nuevaIncidencia.setFechaIncidencia($event)"
                  class="form-control">
                  <div class="valid-feedback">Correcto</div>
								<div class="invalid-feedback">Seleccione la Fecha de la Incidencia</div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Tipo de incidente:</label>
              <div class="col-sm-8">
                <select class="form-control" name="txt-TipoIncidencia" id="txt-TipoIncidencia"  [ngModel]="nuevaIncidencia.getCodTipoIncidencia()"
                  (ngModelChange)="nuevaIncidencia.setCodTipoIncidencia($event)">

                  <option *ngFor="let tipoIncidente of tipoIncidenciaArray" [ngValue]="tipoIncidente.codTipoIncidencia">{{tipoIncidente.tipoIncidencia}}</option>

                </select>
                <div class="valid-feedback">Correcto</div>
								<div class="invalid-feedback">Seleccione la Incidencia</div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Infractor:</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" name="txt-infractorIncidencia" placeholder="Nombre de infractor" [ngModel]="nuevaIncidencia.getNombreInfractor()"
                  (ngModelChange)="nuevaIncidencia.setNombreInfractor($event)" readonly>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Descripción de incidente:</label>
              <div class="col-sm-8">
                <textarea class="form-control" name="txt-descripcionIncidencia" id="txt-descripcionIncidencia" placeholder="Describa en 300 caracteres" [ngModel]="nuevaIncidencia.getDescripcion()"
                  (ngModelChange)="nuevaIncidencia.setDescripcion($event)"></textarea>
                  <div class="valid-feedback">Correcto</div>
								<div class="invalid-feedback">Describa la Incidencia</div>
              </div>
            </div>



          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" (click)="crearNuevoIncidencia()">Guardar</button>
        </div>
      </div>
    </div>
  </div>

</div>