<div class="container-fluid">
  <!-- inicio de container principal-->
  <div class="col-sm-12 col-md-12 col-xl-12">
    <!--inicio de card o panel de contenido-->  
		<div class="card  custom-card">
      <!-- encabezado o cinta de links-->
			<div class="card-header custom-card-header">
        <!--Menu de las Secciones-->
        <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
          <!-- <li class="nav-item">
            <a class="nav-link disabled" ><i class="fas fa fa-book fa-1x"></i>  Administracion de Secciones</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link active" id="secciones-tab" data-toggle="tab" href="#secciones" 
               role="tab" aria-controls="secciones" aria-selected="false"><i class="fas fa fa-book"></i> Secciones
            </a>
          </li>
        </ul>
      </div>
      <!-- fin de nav-tabs-->
			<!-- inicio de tab-contents-->
			<div class="card-body custom-card-body">
      <!--Tab panes de la administracion de Secciones-->
        <div class="tab-content col-md-12" id="myTabContentAdminSecciones" style="padding-top: 20px;">  	
          <div class="tab-pane fade show active" id="secciones" role="tabpanel" aria-labelledby="secciones-tab">
            <!--Boton para crear Secciones-->
            <button id="btn-nuevaSeccion" type="button" class="btn btn-outline-secondary" 
                    data-toggle="modal" data-target="#newSeccion" style="margin-bottom: 20px;" 
                    (click)="crearNuevaSeccion()">
                <i class="fas fa-plus"></i> Nueva Seccion
            </button>

            <!--Tabla de registros de Secciones-->
            <table datatable [dtOptions]="dtOptions[0]" [dtTrigger]="dtTrigger[0]" class="table table-bordered table-hover table-sm">
              <thead class="thead-light">
                <tr> 
                  <th class="d-none">Codigo</th>
                  <th class="d-none">Codigo</th>
                  <th>#</th>
                  <th scope="col">Seccion</th>
                  <th scope="col">Docente</th>
                  <th scope="col">Aula</th>
                  <th scope="col">Curso</th>
                  <th scope="col">Hora Inicio</th>
                  <th scope="col">Hora Final</th>									
                  <th scope="col">Habilitar/Desabilitar</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let seccion of seccionesJsonArray; index as i" id="{{seccion.codSeccion}}"> 
                  <td class="d-none">{{seccion.codSeccion}}</td>
                  <td class="d-none">{{seccion.seccion}}</td>
                  <td>{{i+1}}</td>
                  <td><span class="my-link" (click)="actualizarSeccion(seccion.codSeccion)">{{seccion.seccion}}</span></td>
                  <td>{{seccion.nombreCompletoDocente}}</td>
                  <td>{{seccion.nombreAula}}</td>
                  <td>{{seccion.nombreCurso}}</td>
                  <td>{{seccion.horaInicio}}</td>
                  <td>{{seccion.horaFin}}</td>
                  <td>
                    <button id="btn{{seccion.codSeccion}}" (click)="getSeccion(seccion.codSeccion)" class="btn btn-sm flag">
                      <i class="fas fa-edit"></i>
                    </button>
                    <button class="btn btn-sm flag" id="btnactivar{{seccion.codSeccion}}" 
                            [class.btn-success]="habilitado(seccion.Habilitada)"
                            [class.btn-danger]="deshabilitado(seccion.Habilitada)" 
                            value="Habilitar"
                            (click)="activar(seccion.codSeccion)">{{setCheckStatus(seccion.Habilitada)}}
                    </button>
                  </td> 
                </tr>
                <!-- <tr (click)="actualizarSeccion('6A','Carlos Santamarina','A1-001','Sexto Grado')">
                  <th scope="row">1</th>
                  <td>6A</td>
                  <td>Carlos Santamarina</td>
                  <td>A1-001</td>
                  <td>Sexto Grado</td>
                  <td>7:00 am</td>
                  <td>12:00 pm</td>
                  <td>Habilitada</td>
                </tr>
                <tr (click)="actualizarSeccion('9B','Johana Avilez','B1-002','Noveno Grado')">
                  <th scope="row">2</th>
                  <td>9B</td>
                  <td>Johana Avilez</td>
                  <td>B1-002</td>
                  <td>Noveno Grado</td>
                  <td>12:00 pm</td>
                  <td>5:00 pm</td>
                  <td>Desabilitada</td>
                </tr>
                <tr (click)="actualizarSeccion('7A','Karla Hernandez','C1-001','Septimo Grado')">
                  <th scope="row">3</th>
                  <td>7A</td>
                  <td>Karla Hernandez</td>
                  <td>C1-001</td>
                  <td>Septimo Grado</td>
                  <td>7:00 am</td>
                  <td>12:00 pm</td>
                  <td>Habilitada</td>
                </tr> -->
              </tbody>
            </table>

            <!--Modal para registrar y actualizar Secciones -->
            <div class="modal fade" id="newSeccion">
              <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Registrar Seccion</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <form>
                      <!-- Modal body -->
                        <div class="modal-body">
                      <!-- <div class="form-group">
                        <label for="txt-seccionNombre">Seccion</label>
                        <input  type="text"  class="form-control" id="txt-seccionNombre" placeholder ="Escriba el nombre de la Seccion">
                      </div>
                      <div class="form-group">
                        <label for="txt-seccionDocente">Docente</label>
                        <select class="form-control" id="txt-seccionDocente">
                          <option>Seleccione un Docente</option>
                          <option value="Carlos Santamarina">Carlos Santamarina</option>
                          <option value="Johana Avilez">Johana Avilez</option>
                          <option value="Karla Hernandez">Karla Hernandez</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="txt-seccionAula">Aula</label>
                        <select class="form-control" id="txt-seccionAula">
                          <option>Seleccione una Aula</option>
                          <option value="A1-001">A1-001</option>
                          <option value="B1-002">B1-002</option>
                          <option value="C1-001">C1-001</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="txt-seccionCurso">Curso</label>
                        <select class="form-control" id="txt-seccionCurso">
                          <option>Seleccione una Curso</option>
                          <option value="Sexto Grado">Sexto Grado</option>
                          <option value="Noveno Grado">Noveno Grado</option>
                          <option value="Septimo Grado">Septimo Grado</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="txt-seccionHoraInicial">Hora Inicio</label>
                        <input type="time" class="form-control" id="txt-seccionHoraInicial">
                      </div>
                      <div class="form-group">
                        <label for="txt-seccionHoraFinal">Hora Final</label>
                        <input type="time" class="form-control" id="txt-seccionHoraFinal">
                      </div>
                      <fieldset class="form-group">
                        <div class="row">
                          <legend class="col-form-label col-sm-12 pt-0">Estado de la Seccion</legend>
                          <div class="col-sm-12">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="gridRadiosSeccion" id="check-habilitada-seccion" value="option1" checked>
                                <label class="form-check-label" for="check-habilitada-seccion">
                                    Habilitar
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="gridRadiosSeccion" id="check-desahabilitada-seccion" value="option2">
                                <label class="form-check-label" for="check-desahabilitada-seccion">
                                    Desabilitar
                                </label>
                            </div>
                          </div>
                        </div>
                      </fieldset>	 -->
                        </div>

                        <!-- Modal footer -->
                      <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                        <button class="btn btn-warning" id="btn-actualizar">Actualizar</button>
                        <button class="btn btn-success" id="btn-guardar">Guardar</button>
                      </div>
                    </form>
                </div>
              </div>
            </div>		  	
          </div>
        </div> 
      </div>
      <!-- fin de card body-->  
    </div>
    <!-- fin del card container-->
  </div>  
  <!-- fin del contenedor delimitador de columnas -->  
</div>


