<nav class="navbar fixed-top navbar-expand-sm navbar-light my-nav-bar">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <h3 class="font-weight-normal ">
    Agora
    <small class="text-muted d-none d-sm-inline">>{{MostrarModuloActual}}</small>
  </h3>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav ml-auto ">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-th" style="font-size:20px;"></i>
          <span class="d-inline d-sm-none">Modulo administración</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" (click)="actualizarTituloModulo(accessox.nombre)" routerLink={{accessox.path}} *ngFor="let accessox of modulosAcessos">{{accessox.nombre}} </a>
          <!-- <a class="dropdown-item" href="#">Administración</a>
          <a class="dropdown-item" href="#">Matricula y Registro</a>
          <a class="dropdown-item" href="#">Gestion Académica</a>
          <a class="dropdown-item" href="#">Evaluación y Promoción</a> -->
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user-circle" style="font-size:20px;"></i>
          <span class="  ">{{loggedUserName}}</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <!-- <a class="dropdown-item">
            <i class="fas fa-cog"></i> Mi cuenta</a>
          <div class="dropdown-divider"></div> -->
          <a class="dropdown-item" (click)="salir()">
            <i class="fas fa-sign-out-alt"></i> Salir</a>
        </div>
      </li>
    </ul>
  </div>
</nav>