<ul class="list-group list-group-flush text-center">
  <a routerLink="evaProm-dashboard" class="list-group-item list-group-item-action custom-link-ep " (click)="isActive(4)" [ngClass]="{'active': dashboardIsActive}">
    <i class="fas fa-columns fa-2x"></i>
    <span style="font-size:12px;">Dashboard</span>
  </a>
<a routerLink="evaProm-cursos" class="list-group-item list-group-item-action custom-link-ep" (click)="isActive(2)" [ngClass]="{'active': cursosIsActive}">
  <i class="fas fa-book fa-2x"></i>
  <span style="font-size:12px;">Secciones</span>
</a>
  <a routerLink="evaProm-asistencia" class="list-group-item list-group-item-action custom-link-ep" (click)="isActive(0)" [ngClass]="{'active': asistenciaIsActive}">
    <i class="fas fa-calendar-check fa-2x"></i>
    <span style="font-size:12px;">Asistencia</span>
  </a>
  <a routerLink="evaProm-calificaciones" class="list-group-item list-group-item-action custom-link-ep" (click)="isActive(1)" [ngClass]="{'active': calificacionesIsActive}">
    <i class="fas fa-percent fa-2x"></i>
    <span style="font-size:12px; ">Notas</span>
  </a>
  <!-- <a routerLink="evaProm-imprimir" class="list-group-item list-group-item-action custom-link-ep" (click)="isActive(3)" [ngClass]="{'active': imprimirIsActive}">
    <i class="fas fa-print fa-2x"></i>
    <span style="font-size:12px;">Imprimir</span> 
  </a> -->
</ul>