<div class="container-fluid">
  <!-- inicio de container principal-->
  <div class="col-sm-12 col-md-12 col-xl-12">
    <!--inicio de card o panel de contenido-->
    <div class="card  custom-card">
      <!-- encabezado o cinta de links-->
      <!-- <div class="card-header custom-card-header">
        <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist"> 
          <li class="nav-item">
            <a class="nav-link active" id="expediente-tab" data-toggle="tab" href="#expediente" role="tab" aria-controls="expediente"
              aria-selected="false">
              <i class="fas fa fa-user fa-1x"></i> Administracion de Matricula</a>
          </li>

        </ul>
      </div> -->
      <!-- fin de nav-tabs-->
      <!-- inicio de tab-contents-->
      <div class="card-body custom-card-body">
        <div class="tab-content col-md-12" id="myTabContent">
          <!--Tab panes de la administracion de los expediente-->
          <div class="tab-pane fade show active" id="expediente" role="tabpanel" aria-labelledby="expediente-tab">
            <!--inicio tab tabla expediente div1-->

            <div id="div1" class="col-xs-12 col-md-12">
              <form class="form-inline">
                <div class="form-group mx-sm-3 mb-2">
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" id="txtNombreAlumno" placeholder="Nombre de alumno" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-secondary" type="button">
                        <i class="fas fa-search 2x"></i>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="form-group mx-sm-3 mb-2">
                  <button class="btn btn-outline-secondary" id="btn2" (click)="ingresarNuevoMatricula(2)">
                    <i class="fas fa-user-plus"></i> Matricular una sección
                  </button>
                </div>
              </form>

              <div class="form-row">
                <div class="form-group col-sm-2">
                  <h6>Nombre de Alumno: </h6>
                </div>
                <div class="form-group col-sm-4">
                  <h6>{{nameTag}}</h6>
                </div>
              </div>

              <table datatable [dtOptions]="dtAlumnosOpt" [dtTrigger]="dtTrigger" class="table table-bordered table-hover table-sm">
                <thead class="thead-light">
                  <tr>
                    <th class="d-none">??</th>
                    <th class="d-none">??</th>
                    <th scope="col">#</th>
                    <th scope="col">Curso</th>
                    <th scope="col">Jornada</th>
                    <th scope="col">Sección</th>
                    <th scope="col">Hora Inicio</th>
                    <th scope="col">Hora Fin</th>
                    <th scope="col">Aula</th>
                    <th scope="col">Docente</th>
                  </tr>
                </thead>
                <tbody *ngIf="matriculaJson!=null">
                  <tr *ngFor="let matricula of matriculaJson; index as i">
                    <td class="d-none">campo</td>
                    <td class="d-none">campo</td>
                    <td>{{i+1}}</td>
                    <td>{{matricula.curso}}</td>
                    <td>{{matricula.jornada}}</td>
                    <td>{{matricula.seccion}}</td>
                    <td>{{matricula.horaInicio}}</td>
                    <td>{{matricula.horaFin}}</td>
                    <td>{{matricula.aula}}</td>
                    <td>{{matricula.nombreDocente}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- fin tab tabla alumno-->
          </div>
        </div>
      </div>
      <!-- fin de card body-->
    </div>
    <!-- fin del card container-->
  </div>
  <!-- fin del contenedor delimitador de columnas -->

</div>