<div style="margin-top:50px;">
</div>
<div class="container-fluid">
  <!-- inicion de la fila de documento -->
  <div class="row">
    <div class="col-sm-12  col-md-4 offset-md-4 col-xl-4 offset-xl-4">
      <!-- inicio de card que contiene el formulario del login -->
      <div class="card">
        <div class="card-body">
          <br>
          <h4 class="card-tittle font-weight-light text-center">Inicio de sesión</h4>
          <br>
          <form>
            <div class="form-group has-success has-feedback">
              <div class="input-group">
                <span class="input-group-prepend" id="basic-addon1">
                  <div class="input-group-text">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                  </div>
                </span>
                <input name="NombreUsuario" [(ngModel)]="model.nombreUsuario" type="text" class="form-control" [ngClass]="{'is-invalid': flagsCredenciales,'is-valid': flagsCredencialesOk}"
                  id="txtNombreUsuario" placeholder="Nombre de usuario">
              </div>
            </div>
            <div class="form-group has-success has-feedback">
              <div class="input-group">
                <span class="input-group-prepend" id="basic-addon2">
                  <div class="input-group-text">
                    <i class="fa fa-eye-slash" aria-hidden="true"></i>
                  </div>
                </span>
                <input name="Contrasena" [(ngModel)]="model.contrasena" type="password" class="form-control" [ngClass]="{'is-invalid': flagsCredenciales,'is-valid': flagsCredencialesOk}"
                  id="txtContrasena" placeholder="Contraseña">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-6 offset-sm-3 col-md-6 offset-md-3 col-lg-4 offset-lg-4 col-xl-4 offset-xl-4">
                <button id="btnEnviar" (click)="enviarDatos()" class="btn btn-outline-success">Acceder</button>
              </div>
            </div>
            <hr>

            <div class="form-group">
              <div *ngIf="respuesta===0">
                <label for="txt-descripcionIncidencia">Bienvenido. Has iniciado seccion corectamente</label>
              </div>
              <div *ngIf="respuesta===1">
                <label for="txt-descripcionIncidencia">Contrasena o usuario incorrecto</label>
              </div>
              <div *ngIf="respuesta===2">
                <label for="txt-descripcionIncidencia">Posiblemente tu usuario fue bloqueado.
                  <br>Contacta con un administrador</label>
              </div>


            </div>
          </form>
        </div>
      </div>
      <!-- fin del card que contiene el login -->
      <!--- lista de links -->
      <!-- <div class="row" style="margin-top:20px;"> 
          <ul class="list-inline">
            <li class="list-inline-item"> <a href="#">Recuperar contraseña</a> </li>
            <li class="list-inline-item">&nbsp;&nbsp;</li>
            <li class="list-inline-item"><a href="#">Registrarme</a></li>
          </ul>
        </div> -->
      <!-- fin de lista de links-->
    </div>
  </div>
  <!-- fin de la fial del documento -->
</div>