<div class="container-fluid">
	<!-- inicio de container principal-->
	<div class="col-sm-12 col-md-12 col-xl-12">
		<!--inicio de card o panel de contenido-->
		<div class="card  custom-card">
			<!-- encabezado o cinta de links-->
			<div class="card-header custom-card-header">
				<ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
					<!-- <li class="nav-item nav-link">
						<i class="fas fa fa-user fa-1x"></i> Administracion de Usuarios
					</li> -->
					<li class="nav-item">
						<a class="nav-link active" id="usuarios-tab" data-toggle="tab" href="#usuarios" role="tab" aria-controls="usuarios" aria-selected="false">
							<i class="fas fa fa-user fa-1x"></i> Usuarios</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="rol-credenciales-tab" data-toggle="tab" href="#rol-credenciales" role="tab" aria-controls="rol-credenciales"
						 aria-selected="false">
							<i class="fas fa-key"></i> Roles y Credenciales</a>
					</li>
				</ul>
			</div>
			<!-- fin de nav-tabs-->
			<!-- inicio de tab-contents-->
			<div class="card-body custom-card-body">
				<div class="tab-content col-md-12 col-xl-10 offset-xl-1 cols-no-padding" id="myTabContent">
					<!--Tab panes de la administracion de los Usuiarios-->
					<div class="tab-pane fade show active cols-no-padding" id="usuarios" role="tabpanel" aria-labelledby="usuarios-tab">
						<!--inicio tab tabla usuarios div1-->
						<div id="div1" class="col-xs-12 col-md-12 col-xl-12 cols-no-padding" [class.d-none]="tab1">
							<div class="btn-group" role="group" aria-label="Basic example">
								<button class="btn btn-outline-secondary" id="btn2" (click)="goToTab(2)">
									<i class="fas fa-user-plus"></i> Nuevo</button>
								<!-- <button class="btn btn-outline-secondary" id="btn3" (click)="goToTab(3)">
									<i class="fas fa-edit"></i> Editar
								</button> -->
								<!-- <button class="btn btn-outline-secondary" id="btn3" (click)="rerender()">
									<i class="fas fa-sync"></i> Actualizar
								</button> -->
							</div>
							<table datatable [dtOptions]="dtOptions[0]" [dtTrigger]="dtTrigger[0]" class="table table-bordered table-hover">
								<thead class="thead-light">
									<tr>
										<th class="d-none"></th>
										<th scope="col">#</th>
										<th class="d-none"></th>
										<th scope="col">Nombre Completo</th>
										<th scope="col">Nombre de usuario </th>
										<th scope="col">Rol de usuario </th>
										<th scope="col">Fecha creación</th>
										<th scope="col">Ultima modificación </th>
										<th scope="col">Estado</th>
										<th class="d-none"></th>
										<th class="d-none"></th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let person of inUsuariosJsonArray; index as i">
										<td class="d-none">{{person.codUsuario}}</td>
										<td>{{ i+1 }}</td>
										<td class="d-none"> {{ person.nombreCompleto }}</td>
										<td>
											<span class="my-link" (click)="goToTab(3)">{{ person.nombreCompleto }}</span>
										</td>
										<td>{{ person.nombreUsuario }}</td>
										<td>{{ person.Rol }}</td>
										<td>{{ person.fechaCreacion }}</td>
										<td>{{ person.fechaModificacion }}</td>

										<td>
											<button class="btn btn-sm" [class.btn-success]="habilitado(person.habilitado)" [class.btn-danger]="deshabilitado(person.habilitado)"
											 value="Habilitar" (click)="activarUsuario(person.codUsuario)">{{setCheckStatus(person.habilitado)}}</button>

											<!-- {{setCheckStatus(rol.habilitado)}} -->
										</td>
										<td class="d-none">{{person.habilitado}}</td>
										<td class="d-none">{{person.codTipoUsuario}}</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!-- fin tab tabla usuarios-->
						<div id="div2" class="col-xs-12 col-md-6 offset-md-3 cols-no-padding" [class.d-none]="tab2">
							<div class="card text-center">
								<div class="card-body">
									<h5 class="card-title">Crear un nuevo usuario</h5>
									<form>
										<div class="form-group">
											<input ngui-auto-complete [max-num-list]="3" [source]="jsonNombrePersonas" name="nombrePersona" type="text" class="form-control"
											 [(ngModel)]="nombrePersona" id="nombrePersona" placeholder="Ingrese nombre de la persona" value-formatter="nombreCompleto"
											 list-formatter="nombreCompleto">
											<div class="valid-feedback">Correcto</div>
											<div class="invalid-feedback">Seleccione una persona</div>
										</div>
										<div class="form-group">
											<input type="text" class="form-control" id="txt-nombreUser" name="nNombreUsuario" [(ngModel)]="nuevoUsuario.nombreUsuario"
											 placeholder="Ingrese un nombre de usuario">
											<div class="valid-feedback">Correcto</div>
											<div class="invalid-feedback">Escriba el nombre de usuario</div>
										</div>
										<div class="form-group">
											<select name="rolesUsuario" [(ngModel)]="nuevoUsuario.codTipoUsuario" class="form-control" id="txt-rolUser">
												<option *ngFor="let role of inRolesJsonArray" [ngValue]="role.codTipoUsuario">{{role.rol}}</option>
											</select>
											<div class="valid-feedback">Correcto</div>
											<div class="invalid-feedback">Seleccione un rol para el usuario</div>
										</div>
										<div class="form-group">
											<input type="password" class="form-control" id="txt-passwordUser" [(ngModel)]="nuevoUsuario.contrasena" name="nContrasena"
											 placeholder="Ingrese una contraseña segura">
											<div class="valid-feedback">Correcto</div>
											<div class="invalid-feedback">Escriba la contraseña</div>
										</div>
										<div class="form-group">
											<input type="password" class="form-control" id="txt-rep_passwordUser" [(ngModel)]="nRepetirContrasena" name="nRepetirContrasena"
											 placeholder="Confirme su contraseña">
											<div class="valid-feedback">Correcto</div>
											<div class="invalid-feedback">Las contraseñas no son iguales</div>
										</div>
										<div class="form-group row">
											<div class="col-sm-12">
												<button class="btn btn-danger" (click)="goToTab(1)">Cancelar</button>
												<button class="btn btn-success " (click)="enviarDatosCrearUsuario()">Guardar</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
						<!--Tab de Actualizar los Usuarios-->
						<div id="div3" class="col-xs-12 col-md-6 offset-md-3 cols-no-padding" [class.d-none]="tab3">
							<div class="card text-center">
								<div class="card-body">
									<h5 class="card-title">Editar información de usuario</h5>
									<form>
										<div class="form-group">
											<input type="text" name="unombrecompleto" value="{{objUsuario.getNombreCompleto()}}" [ngModel]="objUsuario.getNombreCompleto()"
											 (ngModelChange)="objUsuario.setNombreUsuario($event)" id="txt-userupdate_nombreCompleto" class="form-control"
											 readonly>
										</div>
										<div class="form-group">
											<!-- <label for="txt-nombreUserUpdate">Nombre nuevo de Usuario</label> -->
											<input type="text" class="form-control" id="txt-nombreUserUpdate" name="uNombreUsuario" placeholder="Nombre del Usuario"
											 value="{{objUsuario.getNombreUsuario()}}" [ngModel]="objUsuario.getNombreUsuario()" (ngModelChange)="objUsuario.setNombreUsuario($event)">
											<div class="valid-feedback">Correcto</div>
											<div class="invalid-feedback">Escriba el nombre de usuario</div>
										</div>
										<div class="form-group">
											<select name="rolesUsuarioUpdate" class="form-control" id="txt-rolUserUpdate" [ngModel]="objUsuario.getCodTipoUsuario()"
											 (ngModelChange)="objUsuario.setCodTipoUsuario($event)">
												<option value="{{objUsuario.getCodTipoUsuario()}}">{{objUsuario.getTipoUsuario()}}</option>
												<option *ngFor="let role of inRolesJsonArray" [value]="role.codTipoUsuario">{{role.rol}}</option>
											</select>
											<div class="valid-feedback">Correcto</div>
											<div class="invalid-feedback">Seleccione un rol para el usuario</div>
										</div>
										<div class="form-group">
											<input type="password" class="form-control" id="txt-passwordUserUpdate" value="{{objUsuario.getContrasena()}}" name="UserRepetirContrasena"
											 [ngModel]="objUsuario.getContrasena()" (ngModelChange)="objUsuario.setContrasena($event)">
											<div class="valid-feedback">Correcto</div>
											<div class="invalid-feedback">Revise la contraseña</div>
										</div>
										<div class="form-group">
											<input type="password" class="form-control" id="txt-rep_passwordUserUpdate" [(ngModel)]="nRepetirContrasena" name="nRepetirContrasena"
											 placeholder="Confirme su contraseña">
											<div class="valid-feedback">Correcto</div>
											<div class="invalid-feedback">Revise la contraseña</div>
										</div>
										<div class="form-group row">
											<div class="col-sm-12">
												<button class="btn btn-danger" (click)="goToTab(1)">Cancelar</button>
												<button class="btn btn-success" (click)="enviarDatosActualizarUsuario()">Guardar</button>
											</div>
										</div>
									</form>
								</div>
								<!-- fin del card-body-->
							</div>
							<!-- fin del card-->
						</div>
						<!-- fin de Tab panes de la administracion de los Usuiarios-->
					</div>

					<!--Tab panes de la administracion de Roles y Credenciales-->
					<div class="tab-pane fade" id="rol-credenciales" role="tabpanel" aria-labelledby="rol-credenciales-tab">
						<!--inicio de tab que muestra todos los roles -->
						<div id="tabRoles" class="col-xs-12 col-md-12 col-xl-12 cols-no-padding" [class.d-none]="tabRoles">
							<div class="btn-group" role="group" aria-label="Basic example">
								<button class="btn btn-outline-secondary" id="btnNuevoRol" (click)="goToRolTab(2)">
									<i class="fas fa-user-plus"></i> Nuevo</button>
								<!-- <button class="btn btn-outline-secondary" id="btnUpdateRol" (click)="goToRolTab(3)">
									<i class="fas fa-edit"></i> Editar
								</button>
								<button class="btn btn-outline-secondary" id="btn3" (click)="recargarTablaRoles()">
									<i class="fas fa-sync"></i> Actualizar
								</button> -->
							</div>
							<br>
							<!-- tabla con los roles creados -->
							<table datatable [dtOptions]="dtOptions[1]" [dtTrigger]="dtTrigger[1]" class="table table-bordered table-hover table-sm">
								<thead>
									<tr>
										<th class="d-none"></th>
										<th scope="col">#</th>
										<th class="d-none"></th>
										<th scope="col">Rol de usuario</th>
										<th scope="col">Accesos</th>
										<th scope="col">Fecha creación</th>
										<th scope="col">Fecha modificación</th>
										<th scope="col">Estado</th>
										<th class="d-none"></th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let rol of inRolesJsonArray; index as i">
										<td class="d-none">{{rol.codTipoUsuario}}</td>
										<td>{{i+1}}</td>
										<td>
											<span class="my-link" (click)="goToRolTab(3)">{{ rol.rol }}</span>
										</td>
										<td class="d-none">{{ rol.rol }}</td>
										<td>{{ rol.accesos }}</td>
										<td>{{ rol.fechaCreacion }}</td>
										<td>{{ rol.fechaModificacion }}</td>
										<td>
											<button class="btn btn-sm" [class.btn-success]="habilitado(rol.habilitado)" [class.btn-danger]="deshabilitado(rol.habilitado)"
											 value="Habilitar" (click)="activarRol(rol.codTipoUsuario)">{{setCheckStatus(rol.habilitado)}}</button>
										</td>
										<td class="d-none">{{rol.habilitado}}</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!--fin de tab roles -->
						<div id="tabNuevoRol" class="col-xs-12 col-md-6 offset-md-3 cols-no-padding" [class.d-none]="tabNuevoRol">
							<div class="card">
								<div class="card-body">
									<h5 class="card-title text-center">Crear un nuevo rol de usuario </h5>
									<form>
										<div class="form-group">
											<label for="txt-nombreRol">Nombre del Rol</label>
											<input type="text" class="form-control" id="txt-nombreRol" name="TipoUsuario" placeholder="Nombre del Rol" [(ngModel)]="nuevoTipoUsuario.tipoUsuario">
											<div class="valid-feedback">Correcto</div>
											<div class="invalid-feedback">Escriba el nombre del Rol</div>
										</div>
										<fieldset class="form-group">
											<div class="row">
												<legend class="col-form-label col-sm-12 pt-0">Accesos</legend>
												<div class="col-sm-12" *ngFor="let opcion of opcionesRoles">
													<div class="form-check">
														<input class="form-check-input" name="accesos" type="checkbox" [(ngModel)]="opcion.checked" value="{{opcion.value}}" checked>
														<label class="form-check-label" for="checkbox-administracion">
															{{opcion.nombre}}
														</label>
													</div>
												</div>
											</div>
										</fieldset>
										<fieldset class="form-group">
											<div class="row">
												<legend class="col-form-label col-sm-12 pt-0">Estado de Rol</legend>
												<div class="col-sm-12">
													<div class="form-check">
														<input class="form-check-input" type="radio" [(ngModel)]="nuevoTipoUsuario.habilitado" name="estado_Rol" id="check-habilitado-rol"
														 value="1" checked>
														<label class="form-check-label" for="check-habilitado-rol">
															Habilitado
														</label>
													</div>
													<div class="form-check">
														<input class="form-check-input" type="radio" [(ngModel)]="nuevoTipoUsuario.habilitado" name="estado_Rol" id="check-desahabilitado-rol"
														 value="0">
														<label class="form-check-label" for="check-desahabilitado-rol">
															Desahabilitado
														</label>
														<div class="valid-feedback">Correcto</div>
														<div class="invalid-feedback">Seleccione el estado del Rol</div>
													</div>
												</div>
											</div>
										</fieldset>
										<div class="col-sm-12  text-center">
											<button class="btn btn-danger" (click)="goToRolTab(1)">Cancelar</button>
											<button class="btn btn-success " (click)="enviarDatosCrearRoles()">Guardar</button>
										</div>
									</form>
								</div>
							</div>
						</div>
						<div id="tabEditRol" class="col-xs-12 col-md-6 offset-md-3 cols-no-padding" [class.d-none]="tabEditRol">
							<div class="card ">
								<div class="card-body">
									<h5 class="card-title text-center">Editar rol de usuario </h5>
									<form>
										<!-- <div class="form-group">
											<input ngui-auto-complete [max-num-list]="3" [source]="inRolesJsonArray" name="tipoUsuario" type="text" class="form-control"
											 [(ngModel)]="tipoUsuarioSelecionado" id="tipoUsuario" placeholder="Ingrese el nombre del rol" value-formatter="rol"
											 list-formatter="rol">
										</div> -->
										<div class="form-group">
											<!-- <label for="txt-nombreRolUpdate">Nombre nuevo del Rol</label> -->
											<input type="text" class="form-control" id="txt-nombreRolUpdate" name="actualizarTipoUsuario" placeholder="Nombre nuevo del Rol"
											 value="{{objRolSeleccionado.getTipoUsuario()}}" [ngModel]="objRolSeleccionado.getTipoUsuario()" (ngModelChange)="objRolSeleccionado.setTipoUsuario($event)">
											<div class="valid-feedback">Correcto</div>
											<div class="invalid-feedback">Escriba el nombre del Rol</div>
										</div>
										<fieldset class="form-group">
											<legend class="col-form-label col-sm-12 pt-0">Nuevos Accesos</legend>
											<div class="col-sm-12" *ngFor="let opcion of opcionesRoles">
												<div class="form-check">
													<input class="form-check-input" name="accesosUpdate" type="checkbox" [value]="opcion.value" name="accesosUpdate" [checked]="opcion.checked"
													 (change)="opcion.checked = !opcion.checked">
													<label class="form-check-label" for="checkbox-administracion">
														{{opcion.nombre}}
													</label>
												</div>
											</div>
										</fieldset>
										<fieldset class="form-group">
											<legend class="col-form-label col-sm-12 pt-0">Estado nuevo de Rol</legend>
											<div class="col-sm-12">
												<div class="form-check">
													<input class="form-check-input" [(ngModel)]="actualizarTipoUsuario.habilitado" type="radio" name="estado_RolUpdate" id="check-habilitado-rolUpdate"
													 value="1" checked>
													<label class="form-check-label" for="check-habilitado-rolUpdate">
														Habilitado
													</label>
												</div>
												<div class="form-check">
													<input class="form-check-input" [(ngModel)]="actualizarTipoUsuario.habilitado" type="radio" name="estado_RolUpdate" id="check-desahabilitado-rolUpdate"
													 value="0">
													<label class="form-check-label" for="check-desahabilitado-rolUpdate">
														Desahabilitado
													</label>
													<div class="valid-feedback">Correcto</div>
													<div class="invalid-feedback">Seleccione el estado del Rol</div>
												</div>
											</div>
										</fieldset>
										<div class="col-sm-12 text-center">
											<button class="btn btn-danger" (click)="goToRolTab(1)">Cancelar</button>
											<button class="btn btn-success " (click)="enviarDatosActualizarRoles()">Guardar</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
					<!--fin de Tab panes de la administracion de Roles y Credenciales-->
				</div>
			</div>
			<!-- fin de card body-->
		</div>
		<!-- fin del card container-->
	</div>
	<!-- fin del contenedor delimitador de columnas -->
</div>

<!--Modales de exito o error-->


<div class="modal" tabindex="-1" role="dialog" id="modal-exito_user">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Exito</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">

			</div>
			<div class="modal-footer">

			</div>
		</div>
	</div>
</div>