<ul class="list-group list-group-flush text-center">
  <a routerLink="gest-dashboard" class="list-group-item list-group-item-action custom-link-ga " (click)="isActive(3)" [ngClass]="{'active': dashboardIsActive}">
    <i class="fas fa-columns fa-2x"></i>
    <span style="font-size:12px;">Inicio</span>
  </a>
  <a routerLink="gest-aulas" class="list-group-item list-group-item-action custom-link-ga " (click)="isActive(0)" [ngClass]="{'active': aulasIsActive}">
    <i class="fas fa-university fa-2x"></i>
    <span style="font-size:12px;">Aulas</span>
  </a>
  <a routerLink="gest-docentes" class="list-group-item list-group-item-action custom-link-ga" (click)="isActive(1)" [ngClass]="{'active': docentesIsActive}">
    <i class="fab fa-black-tie fa-2x"></i>
    <span style="font-size:12px;">Docentes</span>
  </a>
  <a routerLink="gest-secciones" class="list-group-item list-group-item-action custom-link-ga" (click)="isActive(2)" [ngClass]="{'active': seccionesIsActive}">
    <i class="fas fa-book fa-2x"></i>
    <span style="font-size:12px;">Secciones</span>
  </a>
  

</ul>