
<div class="container-fluid">
  <div class="col-sm-12 col-md-12 col-xl-12">
    <div class="card  custom-card">
      <div class="card-header">
        Mis secciones
      </div>
      <div class="card-body custom-card-body">
        <table class="table table-sm">
          <thead>
            <tr> 
              <th scope="col">#</th>
              <th scope="col">Curso</th>
              <th scope="col">Sección</th>
              <th scope="col">Aula</th>
              <th scope="col">Hora Inicio</th>
              <th scope="col">Hora Fin</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor=" let seccion of seccionesJsonArray; index as i"> 
              <td scope="col">{{i+1}}</td>
              <td scope="col">{{seccion.nombreCurso}}</td>
              <td scope="col">{{seccion.seccion}}</td>
              <td scope="col">{{seccion.nombreAula}}</td>
              <td scope="col">{{seccion.horaInicio}}</td>
              <td scope="col">{{seccion.horaFin}}</td>
              <td scope="col">
                <div class="btn-group" role="group" aria-label="Basic example">
                  <button type="button" class="btn btn-outline-secondary btn-sm" (click)="goToAsistencia(seccion.codSeccion)">
                    <i class="fas fa-calendar-check"></i>
                  </button>
                  <button type="button" class="btn btn-outline-secondary btn-sm" (click)="goToNotas(seccion.codSeccion)">
                    <i class="fas fa-percent  "></i>
                  </button>
                  <!-- <button type="button" class="btn btn-outline-secondary btn-sm" (click)="goToImprimir()">
                    <i class="fas fa-print "></i>
                  </button> -->
                </div>
              </td>
            </tr> 
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div><!--fin de container fluuid-->

 