<div class="container">
    <div class="col-xs-12 col-sm-12 col-md-12 col-xl-8 offset-xl-2"> 
      <div class="card">
        
        <div class="card-body custom-card"> 
          <h5 class="card-title">Formulario de matrícula</h5>
          <form>
            <div class="form-group row">
              <label for="slc-curso" class="col-sm-2 col-form-label">Curso:</label>
              <div class="col-sm-10">
                <input ngui-auto-complete [max-num-list]="20" [source]="jsonNombreCurso" (ngModelChange)="Obtener_Asignaturas($event)" name="nombreCurso" type="text" class="form-control"
                 id="txt-seccionCurso" placeholder="Nombre del curso" value-formatter="nombreCurso"
                list-formatter="nombreCurso">
              </div>
            </div> 
            <div class="form-group row">
              <label for="slc-asignatura" class="col-sm-2 col-form-label">Asignatura:</label>
              <div class="col-sm-10">
                <input ngui-auto-complete [max-num-list]="20" [source]="jsonNombreAsignatura" (ngModelChange)="Obtener_Secciones($event)" name="nombreAsignatura" type="text" class="form-control"
                 id="txt-asignatura" placeholder="Nombre de la asignatura" value-formatter="asignatura"
                list-formatter="asignatura">
              </div>
            </div> 
          </form>

          <table  class="table table-bordered table-hover table-sm">
            <thead class="thead-light">
              <tr> 
                <th>#</th>
                <th scope="col">Seccion</th>
                <th scope="col">Docente</th>
                <th scope="col">Aula</th> 
                <th scope="col">Hora Inicio</th>
                <th scope="col">Hora Final</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let Seccion of jsonSecciones; index as i"> 
                <td>{{ i+1 }}</td>
                <td>{{ Seccion.seccion }}</td>
                <td>{{ Seccion.nombreCompletoDocente }} </td>
                <td>{{ Seccion.nombreAula }}</td>
                <td>{{ Seccion.horaInicio }}</td>
                <td>{{ Seccion.horaFin }}</td>
                <td><button type="button" class="btn btn-primary btn-sm" (click)="matricular_Seccion(Seccion.codSeccion)">Matricular</button></td> 
              </tr> 

            </tbody>
          </table>

          <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">  
            <div class="btn-group mr-2" role="group" aria-label="Third group">
              <button type="button" class="btn btn-secondary" (click)="goToMatricula()" >Volver</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>