<div class="row">
  <div class="col-lg-4"></div>
  <div class="col-lg-4">
    <h2>Session Iniciada con exito</h2>
  </div>
  <div class="col-lg-4"></div>
  <button id="btnSalir" (click)="salir()" class="btn btn-primary">Salir</button>
  
</div>