<div class="card-columns" style="padding-left: 2.5%;">




  <div class="card border-secondary  mb-3">
    <div class="card-header">Docentes</div>
    <div class="card-body text-secondary " *ngIf="mostrar">
      <h5 class="card-title">Cantidad de Docente Disponible</h5>
      <p class="card-text">
        <i class="fas fa-graduation-cap fa-2x"></i> {{docenteCards.DocenteHabilitados}} Docentes</p>

      <p class="card-text">
        <small class="text-muted">Ultima Actualizacin 3 meses </small>
      </p>
    </div>
  </div>

  <div class="card border-secondary  mb-3">
    <div class="card-header">Aulas</div>
    <div class="card-body text-secondary " *ngIf="mostrar">
      <h5 class="card-title">Cantidad de Aulas Disponible</h5>
      <p class="card-text">
        <i class="fas fa-check fa-2x"></i> {{aulaCards.aulasHabilitadas}} Aulas Disponibles </p>
      <p class="card-text">
        <i class="fas fa-exclamation-circle fa-2x"></i> {{aulaCards.aulasInhabilitadas}} Aula inactiva </p>

      <p class="card-text">
        <small class="text-muted">Ultima Actualizacin 3 meses </small>
      </p>
    </div>
  </div>

  <div class="card border-secondary  mb-3">
    <div class="card-header">Secciones</div>
    <div class="card-body text-secondary " *ngIf="mostrar">
      <h5 class="card-title">Cantidad de Secciones Disponible</h5>
      <p class="card-text">
        <i class="fas fa-book fa-2x"></i> {{seccionCards.seccionesHabilitadas}} Secciones Habilitadas </p>
      <p class="card-text">
        <i class="fas fa-book fa-2x"></i> {{seccionCards.seccionesInhabilitadas}} Secciones Inhabilitadas </p>

      <p class="card-text">
        <small class="text-muted">Ultima Actualizacin 1 meses </small>
      </p>
    </div>
  </div>


</div>