<div class="container">
  <div class="col-xs-12 col-sm-12 col-md-12 col-xl-8 offset-xl-2">
    <div class="card">

      <div class="card-body custom-card">
        <h5 class="card-title">Registro de asignaturas por traslado:</h5>
        <form id="form-Traslado">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Nombre de Institución:</label>
            <div class="col-sm-8">
              <input type="text" name="institucionTraslado" [ngModel]="nuevoTralado.getInstitucion()" (ngModelChange)="nuevoTralado.setInstitucion($event)"
                class="form-control" placeholder="Nombre de la institución">
                <div class="valid-feedback">Correcto</div>
								<div class="invalid-feedback">Escriba la institución</div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Fecha de egreso:</label>
            <div class="col-sm-8">
              <input type="date" id="date-fechaEgreso" name="fechaEgresoTraslado" class="form-control" [ngModel]="nuevoTralado.getFechaTraslado()"  (ngModelChange)="nuevoTralado.setFechaTraslado($event)"
                 placeholder="Nombre de egreso">
                <div class="valid-feedback">Correcto</div>
                <div class="invalid-feedback">Seleccione la Fecha de egreso</div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Año lectivo:</label>
            <div class="col-sm-8">
              <select class="form-control" placeholder="Nombre de año lectivo" id="anioTraslado" name="anioLectivoTraslado"  [ngModel]="anioLectivoArray" 
                (ngModelChange)="nuevoTralado.setCodLectivo($event.codLectivo);nuevoTralado.setNombreLectivo($event.nombre)">
                <option *ngFor="let anioLectivo of anioLectivoArray" [selected]="anioLectivo.codLectivo === nuevoTralado.getCodLectivo()" [ngValue]="anioLectivo">{{anioLectivo.nombre}}</option>
              </select>
              <div class="valid-feedback">Correcto</div>
							<div class="invalid-feedback">Seleccione el año lectivo</div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Período:</label>
            <div class="col-sm-8">


              <select class="form-control" placeholder="Nombre del periodo" id="periodoTraslado" name="periodoTraslado" [ngModel]="periodoArray" id="periodoTraslado"
                (ngModelChange)="nuevoTralado.setCodPeriodo($event.codPeriodo);nuevoTralado.setPeriodo($event.nombrePeriodo)">

                <option *ngFor="let periodo of periodoArray" [selected]="periodo.codPeriodo === nuevoTralado.getCodPeriodo()" [ngValue]="periodo">{{periodo.nombrePeriodo}}</option>

              </select>
              <div class="valid-feedback">Correcto</div>
							<div class="invalid-feedback">Seleccione el Nombre del periodo</div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Curso:</label>
            <div class="col-sm-8">
              <select class="form-control" placeholder="Nombre de curso" name="cursoTraslado" id="cursoTraslado" [ngModel]="cursoArray"  (ngModelChange)="nuevoTralado.setCodCurso($event.codCurso);nuevoTralado.setNombreCurso($event.nombreCurso)">

                <option *ngFor="let curso of cursoArray" [selected]="curso.codCurso === nuevoTralado.getCodCurso()" [ngValue]="curso">{{curso.nombreCurso}}</option>

              </select>
              <div class="valid-feedback">Correcto</div>
							<div class="invalid-feedback">Seleccione el Curso</div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Jornada:</label>
            <div class="col-sm-8">

              <select class="form-control" placeholder="Nombre de Jornada" name="jornadaTraslado" id="jornadaTraslado" [ngModel]="jornadaArray" 
                (ngModelChange)="nuevoTralado.setCodJornada($event.codJornada)">

                <option *ngFor="let jornada of jornadaArray " [selected]="jornada.codJornada === nuevoTralado.getCodJornada()" [ngValue]="jornada ">{{jornada.jornada}}</option>

              </select>
              <div class="valid-feedback">Correcto</div>
							<div class="invalid-feedback">Seleccione la Jornada</div>
            </div>
          </div>
          <div class="form-group row ">
            <label class="col-sm-4 col-form-label ">Asignatura:</label>
            <div class="col-sm-8 ">


              <select class="form-control " placeholder="Nombre de asignatura " id="AsignaturaTraslado" name="AsignaturaTraslado" [ngModel]="asignaturaArray"  (ngModelChange)="nuevoTralado.setCodAsignatura($event.codAsignatura);nuevoTralado.setAsignatura($event.asignatura)">

                <option *ngFor="let asignatura of asignaturaArray" [selected]="asignatura.codJornada === nuevoTralado.getCodAsignatura()" [ngValue]="asignatura">{{asignatura.asignatura}}</option>

              </select>
              <div class="valid-feedback">Correcto</div>
							<div class="invalid-feedback">Seleccione la Asignatura</div>
            </div>
          </div>
          <div class="form-group row ">
            <label class="col-sm-4 col-form-label ">Calificación final:</label>
            <div class="col-sm-4 ">
              <input type="number " class="form-control " placeholder="Calificación porcentual " name="txt-calificacionFinal" 
              [ngModel]="nuevoTralado.getPromedioActual() " (ngModelChange)="nuevoTralado.setPromedioActual($event) ">
                <div class="valid-feedback">Correcto</div>
								<div class="invalid-feedback">Escriba la Calificación</div>
            </div>
            <div class="col-sm-4 ">
              <button type="button " class="btn btn-primary btn-sm " (click)="guardarAsignaturaTralado() ">Agregar</button>
            </div>
          </div>
        </form>

        <h5>asignaturas a registrar:</h5>
        <table class="table table-bordered table-hover table-sm ">
          <thead class="thead-light ">
            <tr>
              <th>#</th>
              <th scope="col ">Curso</th>
              <th scope="col ">Asignatura</th>
              <th scope="col ">Calificación</th>
              <th scope="col "></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let asignaturaTraslado of arrayAsignaturaTralado; index as i">
              <td>{{i+1}}</td>
              <td>{{asignaturaTraslado.nombreCurso}}</td>
              <td>{{asignaturaTraslado.asignatura}}</td>
              <td>{{asignaturaTraslado.promedioActual}}</td>
              <td>
                <button type="button " (click)="eliminarAsignaturaTralado(i)" class="btn btn-danger btn-sm ">
                  <i class="fas fa-trash-alt "></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <br>
        <br>
        <div class="btn-toolbar " role="toolbar " aria-label="Toolbar with button groups ">
          <div class="btn-group mr-2 " role="group " aria-label="Third group ">
            <button type="button " class="btn btn-secondary " (click)="goToFicha() ">Cancelar</button>
          </div>
          <div class="btn-group mr-2 " role="group " aria-label="Third group ">
            <button type="button " class="btn btn-secondary " (click)="crearNuevoTraslado()">Guardar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Modales de exito o error-->
<div class="modal" tabindex="-1" role="dialog" id="modal-exito_traslado">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
		  
		</div>
		<div class="modal-footer">
		  
		</div>
	  </div>
	</div>
  </div>