<div class="container-fluid">
  <!-- inicio de container principal-->
  <div class="col-sm-12 col-md-12 col-xl-12">
    <br>
    <br>
    <!--inicio de card o panel de contenido-->
    <div>
      <input ngui-auto-complete [max-num-list]="20" [source]="jsonSeccions" name="nombreSeccion" type="text" class="form-control"
        (ngModelChange)="cargarSeccionAlumnos($event)" id="txt-nombreSeccion" placeholder="Escoga una seccion" value-formatter="seccion"
        list-formatter="seccion">
    </div>
    <div class="card  custom-card">
      <!-- encabezado o cinta de links-->
      <div class="card-header custom-card-header">
        <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
          <!-- <li class="nav-item nav-link">
						<i class="fas fa fa-user fa-1x"></i> Administracion de Docentes
					</li> -->
          <li class="nav-item">
            <a class="nav-link active" id="docentes-tab" data-toggle="tab" href="#docentes" role="tab" aria-controls="docentes" aria-selected="false">
              <i class="fas fa fa-user fa-1x"></i> Asistencia</a>
          </li>
        </ul>
      </div>
      <!-- fin de nav-tabs-->
      <!-- inicio de tab-contents-->
      <div class="card-body custom-card-body">
        <div class="tab-content col-md-12" id="myTabContent">
          <!--Tab panes de la administracion de los Docentes-->
          <div class="tab-pane fade show active" id="docentes" role="tabpanel" aria-labelledby="docentes-tab">
            <!--inicio tab tabla docentes div1-->
            <div id="div1" class="col-xs-12 col-md-12">
              <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group mr-2" role="group" aria-label="First group">
                  <button type="button" class="btn btn-outline-secondary  btn-sm">Hoy</button>
                  <button type="button" class="btn btn-outline-secondary  btn-sm">
                    <</button>
                      <button type="button" class="btn btn-outline-secondary  btn-sm">
                        <<</button>
                          <button type="button" class="btn btn-outline-secondary  btn-sm">>></button>
                          <button type="button" class="btn btn-outline-secondary  btn-sm">></button>
                </div>
                <!--
                <div class="btn-group mr-2" role="group" aria-label="Second group">
                  <button type="button" class="btn btn-outline-secondary  btn-sm">Marcar todos</button> 
                </div>
              -->
                <div class="btn-group" role="group" aria-label="Third group">
                  <button class="btn btn-sm btn-success" (click)="crearDiaAssitencia()">
                    <i class="fas fa-plus"></i>Agregar Asistencia hoy
                  </button>
                  <!--
                  <button class="btn btn-sm btn-primary" (click)="crearActualizarTabla()">
                    <i class="far fa-safe"></i>Actualizar
                  </button>
                -->
                </div>

                <!--
                <div class="btn-group" role="group" aria-label="Third group">
                  <button type="button" class="btn btn-outline-secondary  btn-sm">8</button>
                </div>
              -->
              </div>
              <br>
            </div>

            <div class="row">

              <div class="col-md-12">
                <table class="table table-bordered table-sm">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Identidad</th>
                      <th scope="col">Nombre Completo</th>
                      <th *ngFor="let fecha of fechas" scope="col">{{fecha.fecha}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let alumno of jsonAlumnos; index as i">
                      <td>{{i+1}}</td>
                      <td>{{alumno.identificacion}}</td>
                      <td>{{alumno.nombreAlumno}}</td>
                      <td *ngFor="let asistio of alumno.arrayAsistencia">

                        <button *ngIf="asistio.asistio===1" class="btn btn-sm btn-success">
                          <i class="far fa-calendar-check"></i>
                        </button>
                        <button *ngIf="asistio.asistio===0" class="btn btn-sm btn-danger">
                          <i class="far fa-calendar-times"></i>
                        </button>
                        <button *ngIf="asistio.asistio===null" class="btn btn-sm btn-danger">
                          <i class="far fa-calendar-times"></i>
                        </button>
                      </td>
                      <td>
                        <button *ngIf="showAsistenciaButtom" (click)="guardarAsistencia(alumno,1)"  class="btn btn-sm btn-success">
                          <i class="far fa-calendar-check"></i>
                        </button>
                        <button *ngIf="showAsistenciaButtom" (click)="guardarAsistencia(alumno,0)"  class="btn btn-sm btn-danger">
                            <i class="far fa-calendar-times"></i>
                          </button>
                      </td>
                        
                    </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- fin de card body-->
    </div>
    <!-- fin del card container-->
  </div>
  <!-- fin del contenedor delimitador de columnas -->

</div>