<div class="container-fluid">
  <!-- inicio de container principal-->
  <div class="col-sm-12 col-md-12 col-xl-12">
    <!--inicio de card o panel de contenido-->
    <div class="card  custom-card">
      <!-- encabezado o cinta de links-->
      <!-- <div class="card-header custom-card-header">
        <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist"> -->
          <!-- <li class="nav-item nav-link">
						<i class="fas fa fa-user fa-1x"></i> Administracion de expediente
					</li> -->
          <!-- <li class="nav-item">
            <a class="nav-link active" id="expediente-tab" data-toggle="tab" href="#expediente" role="tab" aria-controls="expediente"
              aria-selected="false">
              <i class="fas fa fa-user fa-1x"></i> Administracion de Expediente</a>
          </li>  -->

        <!-- </ul>
      </div> -->
      <!-- fin de nav-tabs-->
      <!-- inicio de tab-contents-->
      <div class="card-body custom-card-body">
        <div class="tab-content col-md-12" id="myTabContent">
          <!--Tab panes de la administracion de los expediente-->
          <div class="tab-pane fade show active" id="expediente" role="tabpanel" aria-labelledby="expediente-tab">
            <!--inicio tab tabla expediente div1-->

            <div id="div1" class="col-xs-12 col-md-12">
              <div class="btn-group" role="group" aria-label="Basic example">
                <button class="btn btn-outline-secondary" id="btn2" (click)="goToFicha()">
                  <i class="fas fa-user-plus"></i> Agregar Expediente
                </button>
              </div>  
              <br>
              <br>
              <table datatable [dtOptions]="dtAlumnosOpt" [dtTrigger]="dtTrigger" class="table table-bordered table-hover table-sm">
                <thead class="thead-light">
                  <tr> 
                    <th class="d-none">codALumno</th>
                    <th class="d-none">codCurso</th>
                    <th scope="col">#</th>
                    <th scope="col">Expediente</th>
                    <th scope="col">Nombre Completo</th> 
                    <th scope="col">Fecha ingreso</th>
                    <th scope="col">estado</th>
                    <th scope="col">incidencias</th>
                    <th scope="col">Ultima Matricula</th>
                    <th scope="col">Ultimo cursado</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let alumno of inAlumnosJsonArray; index as i">
                    <td class="d-none">{{alumno.codAlumno}}</td>
                    <td class="d-none">{{alumno.codEstado}}}</td>
                    <td>{{i+1}}</td>
                    <td>{{alumno.numExpediente}}</td>
                    <td><span class="my-link" (click)="actualizarAlumno(alumno.codAlumno)">{{alumno.nombreCompleto}}</span></td>  
                    <td>{{alumno.fechaIngreso}}</td>
                    <td>{{alumno.estado}}</td>
                    <td>{{alumno.incidencias}}</td>
                    <td>{{alumno.ultimaMatricula}}</td>
                    <td>{{alumno.ultimoCursado}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- fin tab tabla alumno-->
          </div>
        </div>
      </div>
      <!-- fin de card body-->
    </div>
    <!-- fin del card container-->
  </div>
  <!-- fin del contenedor delimitador de columnas -->

</div>