<ul class="list-group list-group-flush text-center">

  <a routerLink="matriReg-dashboard" class="list-group-item list-group-item-action custom-link-mr " (click)="isActive(3)" [ngClass]="{'active': dashboardIsActive}">
    <i class="fas fa-columns fa-2x"></i>
    <span style="font-size:12px;">Inicio</span>
  </a>
  <a routerLink="matriReg-expediente" class="list-group-item list-group-item-action custom-link-mr " (click)="isActive(0) "
    [ngClass]="{'active': expedienteIsActive}">
    <i class="fas fa-address-book fa-2x"></i>
    <span style="font-size:12px;">Expedientes</span>
  </a>
  <!-- <a routerLink="matriReg-ficha" class="list-group-item list-group-item-action custom-link-mr " (click)="isActive(1)" [ngClass]="{'active': fichaIsActive}">
    <i class="fas fa-address-card fa-2x"></i>
    <span style="font-size:12px;">Ficha</span>
  </a> -->
  <!--
  <a routerLink="matriReg-matricula" class="list-group-item list-group-item-action custom-link-mr " (click)="isActive(2)" [ngClass]="{'active': matriculaIsActive}">
    <i class="fas fa-book fa-2x"></i>
    <span style="font-size:12px;">Matricula</span>
  </a>
-->
  <a routerLink="matriReg-historial" class="list-group-item list-group-item-action custom-link-mr " (click)="isActive(4)" [ngClass]="{'active': historialIsActive}">
    <i class="fas fa-book fa-2x"></i>
    <span style="font-size:12px;">Historial</span>
  </a>
  <!--
  <a routerLink="formulario-incidencia" class="list-group-item list-group-item-action custom-link-mr " (click)="isActive(5)"
    [ngClass]="{'active': incidenciasIsActive}">
    <i class="fas fa-exclamation-triangle fa-2x"></i>
    <span style="font-size:12px;">Incidencias</span>
  </a>
-->

</ul>