<div class="card-columns" style="padding-left: 2.5%;">
  <div class="card border-success ">
    <div class="card">
      <div class="card-header">
        Mis secciones
      </div>
      <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Curso</th>
            <th scope="col">Sección</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody *ngIf="showSecciones">
          <tr *ngFor="let seccion of seccionesDocente; index as a">
            <th scope="row">{{ a+1 }}</th>
            <td>{{seccion.nombreCurso}}</td>
            <td>{{seccion.asignatura}}</td>
            <td>
              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" (click)="goToAsistencia()" class="btn btn-outline-secondary btn-sm">
                  <i class="fas fa-calendar-check"></i>
                </button>
                <button type="button" (click)="goToNotas()" class="btn btn-outline-secondary btn-sm">
                  <i class="fas fa-percent  "></i>
                </button>
                <button type="button" (click)="goToImprimir()" class="btn btn-outline-secondary btn-sm">
                  <i class="fas fa-print "></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


  <!--
  <div class="card border-success ">
    <div class="card-header">Gestion Evaluacion</div>
    <div class="card-body text-success">
      <h5 class="card-title">De todos sus cursos</h5>
      <p class="card-text">
        <i class="fas fa-smile fa-2x"></i> 95% Aprobados </p>
      <p class="card-text">
        <i class="fas fa-frown fa-2x"></i> 5% Reprobados </p>

      <p class="card-text">
        <small class="text-muted">Ultima Actualizacin 1 meses </small>
      </p>
    </div>
  </div>
-->

  <div class="card border-success mb-3">
    <div class="card-header">Asistencia</div>
    <div class="card-body text-success">
      <h5 class="card-title">Asistencia del dia</h5>
      <p class="card-text" *ngIf="showAsistencia">
        <i class="fas fa-check-circle fa-2x"></i> {{asistenciaDocente.cantAlumnosAsistio}} Asistieron </p>
      <p class="card-text" *ngIf="showAsistencia">
        <i class="fas fa-exclamation-circle fa-2x"></i> {{asistenciaDocente.cantAlumnoFaltista}} Faltaron </p>
      <p class="card-text">
        <small class="text-muted">Ultima Actualizacin 2 meses </small>
      </p>
    </div>
  </div>



  <!--
  <div class="card border-success mb-3">
    <div class="card-header">Poblacion Alumnos</div>
    <div class="card-body text-success">
      <h5 class="card-title">Distribucion de sus alumnos</h5>
      <p class="card-text">
        <i class="fas fa-male fa-2x"></i> 55% hombres</p>
      <p class="card-text">
        <i class="fas fa-female fa-2x"></i> 40% hombres</p>
      <p class="card-text">
        <i class="fas fa-wheelchair fa-2x"></i> 5% Alumnos Especiales</p>


      <p class="card-text">
        <small class="text-muted">Ultima Actualizacin 1 meses </small>
      </p>
    </div>
  </div>
-->

  <!--
  <div class="card border-success mb-3">
    <div class="card-header">Alumnos</div>
    <div class="card-body text-success">
      <h5 class="card-title">Cantidad de Alumnos Aspirante</h5>
      <p class="card-text">
        <i class="fas fa-users fa-2x"></i> 50 Alumnos </p>

      <p class="card-text">
        <small class="text-muted">Ultima Actualizacin 3 meses </small>
      </p>
    </div>
  </div>
-->

</div>