<div class="container-fluid">
  <!-- inicio de container principal-->
  <div class="col-sm-12 col-md-12 col-xl-12">
    <!--inicio de card o panel de contenido-->
    <div class="card  custom-card">
      <!-- encabezado o cinta de links-->
      <!-- <div class="card-header custom-card-header">
        <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist"> 
          <li class="nav-item">
            <a class="nav-link active" id="expediente-tab" data-toggle="tab" href="#expediente" role="tab" aria-controls="expediente"
              aria-selected="false">
              <i class="fas fa fa-user fa-1x"></i> Administracion de Matricula</a>
          </li>

        </ul>
      </div> -->
      <!-- fin de nav-tabs-->
      <!-- inicio de tab-contents-->
      <div class="card-body custom-card-body">
        <div class="tab-content col-md-12" id="myTabContent">
          <!--Tab panes de la administracion de los expediente-->
          <div class="tab-pane fade show active" id="expediente" role="tabpanel" aria-labelledby="expediente-tab">
            <!--inicio tab tabla expediente div1-->

            <div id="div1" class="col-xs-12 col-md-12">
              <form class="form-inline">
                <div class="form-group mx-sm-3 mb-2">
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" id="txtNombreAlumno" placeholder="Nombre de alumno" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-secondary" type="button">
                        <i class="fas fa-search 2x"></i>
                      </button>
                    </div>
                  </div>
                </div> 
              </form>
              <table  datatable [dtOptions]="dtHistorialOpt" [dtTrigger]="dtTrigger" class="table table-bordered table-hover table-sm">
                <thead class="thead-light">
                  <tr>
                    <th class="d-none">??</th>
                    <th class="d-none">??</th>
                    <th scope="col">#</th>
                    <th scope="col">Año</th>
                    <th scope="col">Periodo</th>
                    <th scope="col">Curso</th>
                    <th scope="col">Asignatura</th>
                    <th scope="col">Promedio</th>
                    <th scope="col">Comentario</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let asignatura of asignaturasJsonArray; index as i">
                    <td class="d-none">campo</td>
                    <td class="d-none">campo</td>
                    <td>{{i+1}}</td>
                    <td>{{asignatura.anio}}</td>
                    <td>{{asignatura.nombrePeriodo}}</td>
                    <td>{{asignatura.nombreCurso}}</td>
                    <td>{{asignatura.asignatura}}</td>
                    <td>{{asignatura.promedioActual}}</td>
                    <td>{{asignatura.comentario}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- fin tab tabla alumno-->
          </div>
        </div>
      </div>
      <!-- fin de card body-->
    </div>
    <!-- fin del card container-->
  </div>
  <!-- fin del contenedor delimitador de columnas -->

</div>