<div class="container-fluid">
  <!--Inicio de container principal-->
  <div class="progress" style="height: 5px;">
    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width]="contProgreso + '%'" aria-valuenow="5"
      aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  <div class="col-sm-12 col-md-12 col-xl-12">
    <!--Inicio de card o panel de contenido-->
    <div class="card  custom-card">
      <!-- encabezado o cinta de tab-links-->
      <!-- /////////////////////////////////////////////INICIO MENU TABS /////////////////////////////////////////////-->
      <div class="card-header custom-card-header">
        <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
          <!-- <li class="nav-item nav-link"> 
              <i class="fas fa fa-cogs fa-1x"></i> Administracion de Cursos
          </li> -->
          <li class="nav-item">
            <a class="nav-link active" id="ano-lectivo-tab" data-toggle="tab" href="#anoLectivo" role="tab" aria-controls="anoLectivo"
              aria-selected="true">
              <i class="far fa-file-alt"></i> Año Lectivo
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="periodos-tab" data-toggle="tab" href="#periodos" role="tab" aria-controls="periodos" aria-selected="false">
              <i class="far fa-file-alt"></i> Periodos </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link " id="jornadas-tab" data-toggle="tab" href="#jornadas" role="tab" aria-controls="jornadas" aria-selected="false">
              <i class="far fa-file-alt"></i> Jornadas</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link " id="modalidades-tab" data-toggle="tab" href="#modalidades" role="tab" aria-controls="modalidades" aria-selected="false">
              <i class="far fa-file-alt"></i> Modalidades </a>
          </li>
        </ul>
      </div>
      <!-- //////////////////////////////////////////// FIN MENU TABS ////////////////////////////////////////////////-->

      <!--fin de cinta de tab-links-->
      <!-- inicio de tab-contents-->
      <div class="card-body custom-card-body">
        <div class="tab-content col-md-12" id="myTabContent">

          <!-- ///////////////////////////////////////////// INICIO ANO LECTIVO ////////////////////////////////////////-->

          <!--Inicio de tab de administracion de anos lectivos-->
          <div class="tab-pane fade show active" id="anoLectivo" role="tabpanel" aria-labelledby="ano-lectivo-tab">
            <!--inicio de tabla de la administracion de anos lectivos-->
            <div id="tabAnoLectivo" class="col-xs-12 col-md-12" [class.d-none]="tabAnoLectivo">
              <!-- botones de funciones basicas-->
              <div class="btn-group" role="group" aria-label="Basic example">
                <button class="btn btn-outline-secondary" id="btnAnoLectivo1" (click)="goToTab(2)">
                  <i class="fas fa-plus"></i> Nuevo </button>
              </div>
              <br>
              <br>
              <table id="dtLectivos" datatable [dtOptions]="dtOptions[0]" [dtTrigger]="dtTrigger[0]" class="table table-bordered table-hover table-sm">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre Año Lectivo</th>
                    <th scope="col">Fecha Inicio</th>
                    <th scope="col">Fecha Final</th> 
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let lectivo of Lectivos; index as a">
                    <td>{{ a+1 }}</td>
                    <td>
                      <span class="my-link" (click)="actualizarL(lectivo)">{{ lectivo.nombre }}</span>
                    </td>
                    <td>{{ lectivo.fechaInicio }}</td>
                    <td>{{ lectivo.fechaFinal }}</td> 
                  </tr>
                </tbody>
              </table>
            </div>
            <!--fin de tabla con administracion Ano Lectivo-->
            <!--inicio de tab nuevo ano lectivo-->
            <div id="tabNewAnoLectivo" class="col-xs-12 col-md-6 offset-md-3" [class.d-none]="tabNewAnoLectivo">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title text-center">Crear un nuevo Ano Lectivo de clases:</h5>
                  <form>
                    <div class="form-group row">
                      <div class="col-sm-12">
                        <input type="text" class="form-control" name="txt-nombreAnoLectivo" [ngModel]="Lectivo.getNombre()" (ngModelChange)="Lectivo.setNombre($event)"
                          placeholder="Nombre del Ano vigente">
                        <div class="valid-feedback">Correcto</div>
                        <div class="invalid-feedback">Escriba el nombre correcto del Año Lectivo</div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-sm-12">
                        <label for="txt-fechaInicio" class="col-sm-12 col-form-label">Ingrese la fecha de Inicio:</label>
                        <input type="date" class="form-control" name="txt-FechaInicioAnoLectivo" placeholder="Fecha de Inicio" [ngModel]="Lectivo.getFechaInicio() | date:'yyyy-MM-dd'"
                          (ngModelChange)="Lectivo.setFechaInicio($event)">
                        <div class="valid-feedback">Correcto</div>
                        <div class="invalid-feedback">Seleccione una fecha Inicial</div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-sm-12">
                        <label for="txt-fechaFinal" class="col-sm-12 col-form-label">Ingrese la fecha final:</label>
                        <input type="date" class="form-control" name="txt-FechaFinalAnoLectivo" placeholder="Fecha Final" [ngModel]="Lectivo.getFechaFinal() | date:'yyyy-MM-dd'"
                          (ngModelChange)="Lectivo.setFechaFinal($event)">
                        <div class="valid-feedback">Correcto</div>
                        <div class="invalid-feedback">Seleccione una fecha final</div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-sm-12 text-center">
                        <button class="btn btn-danger" (click)="goToTab(1)">Cancelar</button>
                        <button class="btn btn-success " (click)="guardar_lectivo()">Guardar</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <!-- fin de tab nuevo periodo -->
            <!--inicio de tab update periodo -->
            <div id="tabUpdateAnoLectivo" class="col-xs-12 col-md-6 offset-md-3" [class.d-none]="tabUpdateAnoLectivo">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title text-center">Actualizar el año lectivo vigente:</h5>
                  <form>
                    <div class="form-group row">
                      <div class="col-sm-12">
                        <input type="text" class="form-control" name="txt-nombreAnoLectivoUpdate" [ngModel]="LectivoAct.getNombre()" (ngModelChange)="LectivoAct.setNombre($event)"
                          placeholder="Nombre del Ano vigente">
                        <div class="valid-feedback">Correcto</div>
                        <div class="invalid-feedback">Escriba el nombre correcto del Año Lectivo</div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-sm-12">
                        <label for="txt-fechaInicio" class="col-sm-12 col-form-label">Ingrese la fecha de Inicio:</label>
                        <input type="date" class="form-control" name="txt-FechaInicioAnoLectivoUpdate" [ngModel]="LectivoAct.getFechaInicio() | date:'yyyy-MM-dd'"
                          (ngModelChange)="LectivoAct.setFechaInicio($event)" placeholder="Fecha de Inicio">
                        <div class="valid-feedback">Correcto</div>
                        <div class="invalid-feedback">Seleccione una fecha Inicial</div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-sm-12">
                        <label for="txt-fechaFinal" class="col-sm-12 col-form-label">Ingrese la fecha en que concluye:</label>
                        <input type="date" class="form-control" name="txt-FechaFinalAnoLectivoUpdate" [ngModel]="LectivoAct.getFechaFinal() | date:'yyyy-MM-dd'"
                          (ngModelChange)="LectivoAct.setFechaFinal($event)" placeholder="Fecha Final">
                        <div class="valid-feedback">Correcto</div>
                        <div class="invalid-feedback">Seleccione una fecha Final</div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-sm-12 text-center">
                        <button class="btn btn-danger" (click)="goToTab(1)">Cancelar</button>
                        <button class="btn btn-success " (click)="actualizar_lectivo()">Guardar</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- fin de tab nuevo periodo -->

          <!-- ///////////////////////////////////////////// FIN ANO LECTIVO ///////////////////////////////////////////-->


          <!-- ///////////////////////////////////////////// INICIO PERIODOS ////////////////////////////////////////-->
          <!--Inicio de tab de administracion de Periodos-->
          <div class="tab-pane fade" id="periodos" role="tabpanel" aria-labelledby="periodos-tab">
            <!--inicio de tabla de la administracion de periodos-->
            <div id="tabPeriodos" class="col-xs-12 col-md-12" [class.d-none]="tabPeriodos">
              <!-- botones de funciones basicas-->
              <div class="btn-group" role="group" aria-label="Basic example">
                <button class="btn btn-outline-secondary" id="btn2" (click)="goToPerTab(2)">
                  <i class="fas fa-plus"></i> Nueva </button>
              </div>
              <br>
              <br>
              <table id="dtPeriodo" datatable [dtOptions]="dtOptions[1]" [dtTrigger]="dtTrigger[1]" class="table table-bordered table-hover table-sm">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Periodo</th>
                    <th scope="col">Fecha de Comienzo</th>
                    <th scope="col">Fecha Final</th>
                    <th scope="col">Año Lectivo</th>
                  </tr>
                </thead>
                <tbody>

                  <tr *ngFor="let periodo of Periodos; index as a">
                    <td>{{ a+1 }}</td>
                    <td>
                      <span class="my-link" (click)="actualizarP(periodo)">{{ periodo.nombrePeriodo }}</span>
                    </td>
                    <td>{{ periodo.fechaInicio }}</td>
                    <td>{{ periodo.fechaFinal }}</td>
                    <td>{{ periodo.anio }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!--fin de tabla con administracion Periodos-->
            <!--inicio de tab nueva Periodo-->
            <div id="tabNewPeriodo" class="col-xs-12 col-md-6 offset-md-3" [class.d-none]="tabNewPeriodo">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title text-center">Crear un nuevo Periodo de clases:</h5>
                  <form>

                    <div class="form-group row">
                      <div class="col-sm-10">
                        <input type="text" class="form-control" name="txt-Periodo" [ngModel]="Periodo.getNombrePeriodo()" (ngModelChange)="Periodo.setNombrePeriodo($event)"
                          placeholder="Periodo">
                        <div class="valid-feedback">Correcto</div>
                        <div class="invalid-feedback">Escriba el nombre del Periodo</div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-sm-12">
                        <label for="txt-fechaInicio" class="col-sm-12 col-form-label">Ingrese la fecha de Inicio:</label>
                        <input type="date" class="form-control" name="txt-FechaInicioPeriodo" [ngModel]="Periodo.getFechaInicio()" (ngModelChange)="Periodo.setFechaInicio($event)"
                          placeholder="Fecha de Inicio">
                        <div class="valid-feedback">Correcto</div>
                        <div class="invalid-feedback">Seleccione la Fecha Inicial</div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-sm-12">
                        <label for="txt-fechaFinal" class="col-sm-12 col-form-label">Ingrese la fecha en que concluye:</label>
                        <input type="date" class="form-control" name="txt-FechaFinalPeriodo" [ngModel]="Periodo.getFechaFinal()" (ngModelChange)="Periodo.setFechaFinal($event)"
                          placeholder="Fecha Final">
                        <div class="valid-feedback">Correcto</div>
                        <div class="invalid-feedback">Seleccione la Fecha Final</div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-sm-12">
                        <label for="txt-fechaAno" class="col-sm-12 col-form-label">Ingrese el Año del periodo:</label>
                        <input type="text" class="form-control" name="txt-AnioPeriodo" [ngModel]="Periodo.getAnio()" (ngModelChange)="Periodo.setAnio($event)"
                          placeholder="Año">
                        <div class="valid-feedback">Correcto</div>
                        <div class="invalid-feedback">Seleccione el año</div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-sm-12 text-center">
                        <button class="btn btn-danger" (click)="goToPerTab(1)">Cancelar</button>
                        <button class="btn btn-success " (click)="agregar_periodo()">Guardar</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <!-- fin de tab nuevo periodo -->
            <!--inicio de tab update periodo -->
            <div id="tabUpdatePeriodo" class="col-xs-12 col-md-6 offset-md-3" [class.d-none]="tabUpdatePeriodo">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title text-center">Actualizar una asignatura:</h5>
                  <form>
                    <div class="form-group row">
                      <div class="col-sm-10">
                        <input type="text" class="form-control" name="txt-PeriodoUpdate" [ngModel]="PeriodoAct.getNombrePeriodo()" (ngModelChange)="PeriodoAct.setNombrePeriodo($event)"
                          placeholder="Periodo">
                        <div class="valid-feedback">Correcto</div>
                        <div class="invalid-feedback">Escriba el nombre del Periodo</div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-sm-12">
                        <label for="txt-fechaInicio" class="col-sm-12 col-form-label">Ingrese la fecha de Inicio:</label>
                        <input type="date" class="form-control" name="txt-FechaInicioPeriodoUpdate" [ngModel]="PeriodoAct.getFechaInicio() | date:'yyyy-MM-dd'"
                          (ngModelChange)="PeriodoAct.setFechaInicio($event)" placeholder="Fecha de Inicio">
                        <div class="valid-feedback">Correcto</div>
                        <div class="invalid-feedback">Seleccione la Fecha Inicial</div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-sm-12">
                        <label for="txt-fechaFinal" class="col-sm-12 col-form-label">Ingrese la fecha en que concluye:</label>
                        <input type="date" class="form-control" name="txt-FechaFinalPeriodoUpdate" [ngModel]="PeriodoAct.getFechaFinal() | date:'yyyy-MM-dd'"
                          (ngModelChange)="PeriodoAct.setFechaFinal($event)" placeholder="Fecha Final">
                        <div class="valid-feedback">Correcto</div>
                        <div class="invalid-feedback">Seleccione la Fecha Final</div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-sm-12">
                        <label for="txt-fechaAno" class="col-sm-12 col-form-label">Ingrese el Año del periodo:</label>
                        <input type="text" class="form-control" name="txt-AnioPeriodoUpdate" [ngModel]="PeriodoAct.getAnio() | date:'yyyy-MM-dd'"
                          (ngModelChange)="PeriodoAct.setAnio($event)" placeholder="Año">
                        <div class="valid-feedback">Correcto</div>
                        <div class="invalid-feedback">Seleccione el año</div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-sm-12 text-center">
                        <button class="btn btn-danger" (click)="goToPerTab(1)">Cancelar</button>
                        <button class="btn btn-success " (click)="actualizar_periodo()">Guardar</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- fin de tab nuevo periodo -->

          <!-- ///////////////////////////////////////////// FIN PERIODOS ///////////////////////////////////////////-->

          <!-- ///////////////////////////////////////////// INICIO JORNADAS ////////////////////////////////////////-->

          <!--Solucion error TabsNew and Update hay conflicto con el nombre de los botones-->

          <!--Inicio de tab de administracion de Periodos-->
          <div class="tab-pane fade" id="jornadas" role="tabpanel" aria-labelledby="jornadas-tab">
            <!--inicio de tabla de la administracion de periodos-->
            <div id="tabJornadas" class="col-xs-12 col-md-12" [class.d-none]="tabJornadas">
              <!-- botones de funciones basicas-->
              <div class="btn-group" role="group" aria-label="Basic example">
                <button class="btn btn-outline-secondary" id="btnJornadas1" (click)="goToJorTab(2)">
                  <i class="fas fa-plus"></i> Nueva </button>
              </div>
              <br>
              <br>


              <table id="dtJornada" datatable [dtOptions]="dtOptions[2]" [dtTrigger]="dtTrigger[2]" class="table table-bordered table-hover table-sm">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Jornada</th>
                  </tr>
                </thead>
                <tbody>

                  <tr *ngFor="let jornada of Jornadas; index as a">
                    <td>{{ a+1 }}</td>
                    <td>
                      <span class="my-link" (click)="actualizarJornada(jornada)">{{ jornada.jornada }}</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!--fin de tabla con administracion Jornadas-->
            <!--inicio de tab nueva Jornada-->
            <div id="tabNewJornadas" class="col-xs-12 col-md-6 offset-md-3" [class.d-none]="tabNewJornadas">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title text-center">Crear un nuevo nueva Jornada:</h5>
                  <form>
                    <div class="form-group row">
                      <div class="col-sm-10">
                        <input type="text" class="form-control" name="txt-Jornada" [ngModel]="Jornada.getJornada()" (ngModelChange)="Jornada.setJornada($event)"
                          placeholder="Jornada">
                        <div class="valid-feedback">Correcto</div>
                        <div class="invalid-feedback">Escriba el nombre de la Jornada</div>
                      </div>
                    </div>
                    <!--<div class="form-group row">
                <div class="col-sm-12">
                  <label for="txt-horaInicioJornada" class="col-sm-12 col-form-label" min="1">Ingrese la hora de Inicio:</label>
                  <input type="text" class="form-control" id="txt-horaInicioJornada" placeholder="Hora de Inicio">
                </div>
             </div>
             <div class="form-group row">
                <div class="col-sm-12">
                  <label for="txt-horaFinalJornada" class="col-sm-12 col-form-label" min="1">Ingrese la hora final:</label>
                  <input type="text" class="form-control" id="txt-horaFinalJornada" placeholder="Fecha Final">
                </div>
             </div>-->
                    <div class="form-group row">
                      <div class="col-sm-12 text-center">
                        <button class="btn btn-danger" (click)="goToJorTab(1)">Cancelar</button>
                        <button class="btn btn-success " (click)="agregar_jornada()">Guardar</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <!-- fin de tab nuevo periodo -->
            <!--inicio de tab update periodo -->
            <div id="tabUpdateJornadas" class="col-xs-12 col-md-6 offset-md-3" [class.d-none]="tabUpdateJornadas">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title text-center">Actualizar la siguiente Jornada:</h5>
                  <form>

                    <div class="form-group row">
                      <div class="col-sm-10">
                        <input type="text" class="form-control" name="txt-JornadaUpdate" [ngModel]="JornadaAct.getJornada()" (ngModelChange)="JornadaAct.setJornada($event)"
                          placeholder="Jornada">
                        <div class="valid-feedback">Correcto</div>
                        <div class="invalid-feedback">Escriba el nombre de la Jornada</div>
                      </div>
                    </div>
                    <!--
              <div class="form-group row">
                <div class="col-sm-12">
                  <label for="txt-horaInicioJornada" class="col-sm-12 col-form-label" min="1">Ingrese la hora de Inicio:</label>
                  <input type="text" class="form-control" id="txt-horaInicioJornada" placeholder="Hora de Inicio">
                </div>
             </div>
             <div class="form-group row">
                <div class="col-sm-12">
                  <label for="txt-horaFinalJornada" class="col-sm-12 col-form-label" min="1">Ingrese la hora final:</label>
                  <input type="text" class="form-control" id="txt-horaFinalJornada" placeholder="Fecha Final">
                </div>
             </div>-->
                    <div class="form-group row">
                      <div class="col-sm-12 text-center">
                        <button class="btn btn-danger" (click)="goToJorTab(1)">Cancelar</button>
                        <button class="btn btn-success " (click)="actualizar_jornada()">Guardar</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- fin de tab nuevo periodo -->


          <!-- ///////////////////////////////////////////// FIN DE JORNADAS ////////////////////////////////////////-->

          <!-- ///////////////////////////////////////////// INICIO MODALIDADES //////////////////////////////////////-->


          <!--Inicio de tab de administracion de Periodos-->
          <div class="tab-pane fade" id="modalidades" role="tabpanel" aria-labelledby="modalidades-tab">
            <!--inicio de tabla de la administracion de periodos-->
            <div id="tabModalidades" class="col-xs-12 col-md-12" [class.d-none]="tabModalidades">
              <!-- botones de funciones basicas-->
              <div class="btn-group" role="group" aria-label="Basic example">
                <button class="btn btn-outline-secondary" id="btnModalidades1" (click)="goToModTab(2)">
                  <i class="fas fa-plus"></i> Nueva </button>
              </div>
              <br>
              <br>
              <table id="dtJornada" datatable [dtOptions]="dtOptions[3]" [dtTrigger]="dtTrigger[3]" class="table table-bordered table-hover table-sm">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Modalidad</th>
                  </tr>
                </thead>
                <tbody>


                  <tr *ngFor="let modalidad of Modalidades; index as a">
                    <td>{{ a+1 }}</td>
                    <td>
                      <span class="my-link" (click)="actualizarM(modalidad)">{{modalidad.modalidad}}</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!--fin de tabla con administracion Periodos-->
            <!--inicio de tab nueva Periodo-->
            <div id="tabNewModalidades" class="col-xs-12 col-md-6 offset-md-3" [class.d-none]="tabNewModalidades">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title text-center">Crear un nuevo nueva Modalidad:</h5>
                  <form>
                    <div class="form-group row">
                      <div class="col-sm-10">
                        <input name="nuevaModalidad" [ngModel]="Modalidad.getModalidad()" (ngModelChange)="Modalidad.setModalidad($event)" type="text"
                          class="form-control" id="txt-Modalidad" placeholder="Modalidad">
                      </div>
                    </div>
                    <!--
              <div class="form-group row">
                <div class="col-sm-12">
                  <label for="txt-fechaInicioModalidad" class="col-sm-12 col-form-label" min="1">Ingrese la hora de Inicio:</label>
                  <input type="text" class="form-control" id="txt-horaInicioModalidad" placeholder="Fecha de Inicio">
                </div>
             </div>
             <div class="form-group row">
                <div class="col-sm-12">
                  <label for="txt-fechaFinalModalidad" class="col-sm-12 col-form-label" min="1">Ingrese la hora final:</label>
                  <input type="text" class="form-control" id="txt-fechaFinalModalidad" placeholder="Fecha Final">
                </div>
             </div>-->
                    <div class="form-group row">
                      <div class="col-sm-12 text-center">
                        <button class="btn btn-danger" (click)="goToModTab(1)">Cancelar</button>
                        <button class="btn btn-success " (click)="agregar_modalidad()">Guardar</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <!-- fin de tab nuevo periodo -->
            <!--inicio de tab update periodo -->
            <div id="tabUpdateModalidades" class="col-xs-12 col-md-6 offset-md-3" [class.d-none]="tabUpdateModalidades">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title text-center">Actualizar la siguiente Modalidad:</h5>
                  <form>
                    <div class="form-group row">
                      <div class="col-sm-10">
                        <input type="text" [ngModel]="ModalidadAct.getCodModalidad()" (ngModelChange)="ModalidadAct.setCodModalidad($event)" name="actualizaCodModalidad"
                          class="form-control d-none" id="txt-codModalidad" placeholder="Codigo de Modalidad">
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-sm-10">
                        <input type="text" [ngModel]="ModalidadAct.getModalidad()" (ngModelChange)="ModalidadAct.setModalidad($event)" name="actualizarModalidad"
                          class="form-control" id="txt-Modalidad" placeholder="Modalidad">
                      </div>
                    </div>
                    <!--
                    <div class="form-group row">
                      <div class="col-sm-12">
                        <label for="txt-fechaInicioModalidad" class="col-sm-12 col-form-label" min="1">Ingrese la hora de Inicio:</label>
                        <input type="text" class="form-control" id="txt-horaInicioModalidad" placeholder="Fecha de Inicio">
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-sm-12">
                        <label for="txt-fechaFinalModalidad" class="col-sm-12 col-form-label" min="1">Ingrese la hora final:</label>
                        <input type="text" class="form-control" id="txt-fechaFinalModalidad" placeholder="Fecha Final">
                      </div>
                    </div>
                  -->
                    <div class="form-group row">
                      <div class="col-sm-12 text-center">
                        <button class="btn btn-danger" (click)="goToModTab(1)">Cancelar</button>
                        <button class="btn btn-success " (click)="actualizar_modalidad()">Guardar</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- fin de tab nuevo periodo -->


          <!-- ///////////////////////////////////////////// FIN DE MODALIDADES///////////////////////////////////////-->
        </div>
      </div>
      <!-- fin de tab-contents (card-body)-->
    </div>
    <!-- fin de card o panel de contenido -->
  </div> 
</div>

<!--Modales de exito o error-->


<div class="modal" tabindex="-1" role="dialog" id="modal-exito_Lectivo">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Exito</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>