/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.css";




body{
    background-color: #F8F9F9;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 13rem;
    padding: 0.5rem 0;
    margin: 0.5rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-top-color: rgba(0, 0, 0, 0);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgba(0, 0, 0, 0.15);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgba(0, 0, 0, 0.15);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgba(0, 0, 0, 0.15);
    border-left-style: solid;
    border-left-width: 1px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    /* border-radius: 0.25rem; */
}
 

.custom-card{
    border-style: none;
    min-height: 520px;
}

.custom-card-header{
    background-color: #F8F9F9;
}

.custom-card-body{
    border-style: 1px solid;
    border-top-width: 0px;
    border-color: #f5f5f5;
    padding-top: 5px;
    padding-left: 3px;
    padding-right: 3px;
}

.custom-link-ad{
    font-size: 12px;
}
 
.list-group-item.custom-link-ad.active {
    color: #1469c3;
    border-color: #1469c3;
    background-color: transparent;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 5px;
    border-left-style: solid;
}

.my-link{
    color:#1469c3;
}
.my-link:hover{  
    text-decoration: underline;
}

.custom-link-ep{
    font-size: 12px;
}
 
.list-group-item.custom-link-ep.active {
    color: #16c53c;
    border-color: #16c53c;
    background-color: transparent;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 5px;
    border-left-style: solid;
}

.custom-link-mr{
    font-size: 12px;
}
 
.list-group-item.custom-link-mr.active {
    color: #ffd723;
    border-color: #ffd723;
    background-color: transparent;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 5px;
    border-left-style: solid;
}

.custom-link-ga{
    font-size: 12px;
}
 
.list-group-item.custom-link-ga.active {
    color: #c61ecc;
    border-color: #c61ecc;
    background-color: transparent;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 5px;
    border-left-style: solid;
}

.cols-no-padding{
    padding-left: 0px;
    padding-right: 0px;
}
/* 
estilos para tablas */
.table .thead-light th{
    color: #495057;
    background-color: rgba(248, 249, 250, 0.5);
    border-color: #e9ecef;
}

.table{
    font-size: 15px;
    border-collapse: collapse;
}
/* 
    sobreescribiendo estilos para datatables 
*/
.dataTables_wrapper .dataTables_filter {
  float: left;
  text-align: left;
}
.dataTables_wrapper .dataTables_filter input {
  margin-left: 0.5em;  
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
}




.radio-toolbar input[type="radio"] {
  /* display: none; */
    font-size: 16px;
}

.radio-toolbar{
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.radio-toolbar input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-color: #cdcd;
    border-style: solid;
    border-width: 1px;
    border-radius: 0%;
}

.radio-toolbar input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-toolbar input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radio-toolbar .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

.radio-toolbar label {
  display: inline-block;
  background-color: #ddd;
  padding: 4px 11px;
  font-family: Arial;
  font-size: 16px;
  cursor: pointer;
}


.grade-text-box{
    width: 30px;
    text-align: right;
    padding: 1px;
    border-radius: 0px;
}