<div class="card-columns" style="padding-left: 2.5%;">



  <div class="card border-primary  mb-3" >
    <div class="card-header">Usuarios</div>
    <div class="card-body text-primary ">
      <h5 class="card-title">Cantidad de Usuarios</h5>

      <p class="card-text"><i class="fas fa-users fa-2x"></i> {{cantUsuario}} Usuarios       </p>
      
      <p class="card-text"><small class="text-muted">Ultima Actualizacin 1 meses </small></p>
    </div>
  </div>
  
  <div class="card border-primary  mb-3" >
    <div class="card-header">Cursos</div>
    <div class="card-body text-primary ">
      <h5 class="card-title">Cantidad de cursos</h5>
      <p class="card-text"><i class="fas fa-check fa-2x"></i> {{cantCursosHabilitados}} cursos activos </p>
      <p class="card-text"><i class="fas fa-exclamation-circle fa-2x"></i> {{cantCursosInhabilitados}} Cursos inactivos </p>
      
      <p class="card-text"><small class="text-muted">Ultima Actualizacin 3 meses </small></p>
    </div>
  </div>

  <div class="card border-primary  mb-3" >
    <div class="card-header">Periodo</div>
    <div class="card-body text-primary ">
      <h5 class="card-title">Datos del Periodo</h5>
      <p class="card-text"><i class="fas fa-calendar-alt fa-2x"></i> Nombre : {{nombrePeriodo}}</p>
      <p class="card-text"><small class="text-muted">Ultima Actualizacin 3 meses </small></p>
    </div>
  </div>
  

  <div class="card border-primary  mb-3" >
    <div class="card-header">Año Lectivo</div>
    <div class="card-body text-primary ">
      <h5 class="card-title">Datos del Año Lectivo</h5>
      <p class="card-text"><i class="fas fa-calendar-alt fa-2x"></i> Nombre: {{nombreLectivo}}</p>
      <p class="card-text"><small class="text-muted">Ultima Actualizacin 5 meses </small></p>
    </div>
  </div>
  

  <div class="card border-primary  mb-3" >
    <div class="card-header">Asignatura</div>
    <div class="card-body text-primary ">
      <h5 class="card-title">Cantidad de asignaturas Impartidas</h5>
      <p class="card-text"><i class="fas fa-check fa-2x"></i> {{cantidadAsignaturaImpartida}} Asignaturas </p>
      
      <p class="card-text"><small class="text-muted">Ultima Actualizacin 3 meses </small></p>
    </div>
  </div>
  
</div>