<div class="container">
  <div class="col-xs-12 col-sm-12 col-md-12 col-xl-8 offset-xl-2">
    <h4>
      <i class="fas fa-user-circle"></i> {{mensaje}}</h4>
    <div class="card custom-card">
      <div class="card-header custom-card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a id="datos1" class="nav-link active" data-toggle="tab" href="#datosPersonales">Datos Personales</a>
          </li>
          <li class="nav-item">
            <a id="datos1" class="nav-link" data-toggle="tab" href="#datosContacto">Datos de Contacto</a>
          </li>
          <li class="nav-item">
            <a id="datos2" class="nav-link" data-toggle="tab" href="#fichaMedica">Ficha medica</a>
          </li>
        </ul>
      </div>
      <div class="card-body custom-card-body">
        <form>
          <!-- Tab panes -->
          <div class="tab-content">
            <!--Inicio de tab de informacion personal -->
            <div class="tab-pane active container" id="datosPersonales">
              <div id="datos" style="padding-top: 10px">
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label>Nombres:</label>
                    <input id="txt-nombreAlumno" name="nombreAlumno" type="text" class="form-control" placeholder="Ingrese nombres del Estudiante">
                  </div>
                  <div class="form-group col-md-6">
                    <label>Apellidos:</label>
                    <input id="txt-apellidoAlumno" name="apellidoAlumno" type="text" class="form-control" placeholder="Ingrese apellido del Estudiante">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-4">
                    <label>Numero identificación:</label>
                    <input id="txt-identidadAlumno" name="Identidad" type="text" (ngModelChange)="nuevoAlumno.setIdentidad($event)" class="form-control"
                      [ngModel]='nuevoAlumno.getIdentidad()' placeholder="9999-9999-99999">
                  </div>
                  <div class="form-group col-md-4">
                    <label>Edad:</label>
                    <input id="txtEdad" name="edad" type="text" (ngModelChange)="nuevoAlumno.setEdad($event)" [ngModel]="nuevoAlumno.getEdad()"
                      class="form-control" placeholder="años">
                  </div>
                  <div class="form-group col-md-4">
                    <label>Género:</label>
                    <select class="form-control" name="genero" [ngModel]="nuevoAlumno.getSexo()" (ngModelChange)="nuevoAlumno.setSexo($event)">
                      <option>Seleccione uno</option>
                      <option value="M">Masculino</option>
                      <option value="F">Femenino</option>
                    </select>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-4">
                    <label>Fecha de nacimiento</label>
                    <input type="date" class="form-control" name="nacimiento" [ngModel]="nuevoAlumno.getFechaNacimiento() | date:'yyyy-MM-dd'"
                      (ngModelChange)="nuevoAlumno.setFechaNacimiento($event)" id="txt-fechaNacimientoAlumno">
                  </div>
                  <div class="form-group col-md-4">
                    <label>Pais de nacimiento:</label>
                    <input type="text" class="form-control" name="paisNacimiento" [ngModel]="nuevoAlumno.getPaisOrigen()" (ngModelChange)="nuevoAlumno.setPaisOrigen($event)"
                      id="txt-paisOrigenAlumno" placeholder="Ingrese el pais de Origen del Alumno">
                  </div>
                  <div class="form-group col-md-4">
                    <label>Nacionalidad:</label>
                    <input type="text" class="form-control" name="nacionalidad" [ngModel]="nuevoAlumno.getNacionalidad()" (ngModelChange)="nuevoAlumno.setNacionalidad($event)"
                      id="txt-nacionalidadAlumno" placeholder="Ingrese la nacionalidad del Alumno">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label>Departamento de origen:</label>
                    <input type="text" class="form-control" name="departamentoOrigen" [ngModel]="nuevoAlumno.getDepartamentoNacimiento()" (ngModelChange)="nuevoAlumno.setDepartamentoNacimiento($event)"
                      id="txt-deptoOrigen" placeholder="Departamento">
                  </div>
                  <div class="form-group col-md-6">
                    <label>Lugar de nacimiento:</label>
                    <input type="text" class="form-control" name="lugarNacimiento" [ngModel]="nuevoAlumno.getLugarNacimiento()" (ngModelChange)="nuevoAlumno.setLugarNacimiento($event)"
                      id="txt-lugarNacimiento" placeholder="Municipio, ciudad, aldea">
                  </div>
                </div>
                <!-- <div class="form-group">
                              <div class="col-sm-12">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                <button class="btn btn-primary">Siguiente</button>
                              </div>
                            </div> -->
              </div>
            </div>
            <!--inicio de tab de informacion de contacto-->
            <div class="tab-pane container" id="datosContacto">
              <div style="padding-top: 10px"></div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label>Correo electrónico:</label>
                  <input type="email" name="correo" [ngModel]="nuevoAlumno.getCorreo()" (ngModelChange)="nuevoAlumno.setCorreo($event)" class="form-control"
                    id="txt-correoAlumno" placeholder="example@servidor.com">
                </div>
                <div class="form-group col-md-3">
                  <label>Número de celular:</label>
                  <input type="phone" name="celular" [ngModel]="nuevoAlumno.getCelular()" (ngModelChange)="nuevoAlumno.setCelular($event)"
                    class="form-control" id="txt-celularAlumno" placeholder="2242-8701">
                </div>
                <div class="form-group col-md-3">
                  <label>Número teléfono fijo:</label>
                  <input type="phone" name="telefono" class="form-control" [ngModel]="nuevoAlumno.getTelefono()" (ngModelChange)="nuevoAlumno.setTelefono($event)"
                    id="txt-telefonoAlumno" placeholder="2242-8701">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label>Dirección de domicilio actual: </label>
                  <textarea type="text" name="direccion" class="form-control" [ngModel]="nuevoAlumno.getDireccion()" (ngModelChange)="nuevoAlumno.setDireccion($event)"
                    id="txt-direccion" placeholder="Colonia, calle, avenida, casa, etc"></textarea>
                </div>
                <!-- <div class="form-group col-md-6">
                  <input type="file" class="form-control" id="txt-imagenAlumno">
                </div> -->
              </div>
            </div>
            <!-- inicio de tab de ficha medica:-->
            <div class="tab-pane container" id="fichaMedica">
              <div style="padding-top: 10px"></div>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label>Tipo de sangre</label>
                  <select name="tipoSangre" class="form-control" [ngModel]="nuevoAlumno.getTipoSangre()" (ngModelChange)="nuevoAlumno.setTipoSangre($event)">
                    <option>Seleccione uno</option>
                    <option value="O positivo">O positivo</option>
                    <option value="O negativo">O negativo</option>
                    <option value="A positivo">A positivo</option>
                    <option value="A negativo">A negativo</option>
                    <option value="B positivo">B positivo</option>
                    <option value="B negativo">B negativo</option>
                    <option value="AB positivo">AB positivo</option>
                    <option value="AB negativo">AB negativo</option>
                  </select>
                </div>
                <div class="form-group col-md-12">
                  <label>Padecimientos frecuentes: </label>
                  <textarea name="padecimiento" type="text" class="form-control" [ngModel]="nuevoAlumno.getEnfermedadesComunes()" (ngModelChange)="nuevoAlumno.setEnfermedadesComunes($event)"
                    id="txtEnfermedades" placeholder="Alergias o padecimientos frecuentes"></textarea>
                </div>
                <div class="form-group col-md-12">
                  <label>Condiciones especiales </label>
                  <textarea name="condicionesExpeciales" type="text" class="form-control" [ngModel]="nuevoAlumno.getCondicionesEspeciales()"
                    (ngModelChange)="nuevoAlumno.setCondicionesEspeciales($event)" id="txtEnfermedades" placeholder="Condiciones especiales"></textarea>
                </div>
              </div>
            </div>
            <div class="tab-pane container" id="experiencia">
              <div style="padding-top: 10px"></div>
              <div class="form row">
                <div class="form-group col-md-6">
                  <label>Numero de expediente:</label>
                  <input type="text" name="numExpediente" class="form-control" id="txtExpediente" placeholder="Codigo de empleado">
                </div>
                <div class="form-group col-md-6">
                  <label>Fecha de ingreso:</label>
                  <input type="date" name="fechaIngresoExperiencia" class="form-control" id="txtINgreso" placeholder="Fecha de ingreso">
                </div>
              </div>
              <label>Cargos de Alumno: </label>
              <table class="table table-bordered table-hover table-sm">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Cargo</th>
                    <th scope="col">Departamento</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Institucion</th>
                  </tr>
                </thead>
                <tbody>
                  <tr id="DirectorITLB">
                    <th>Direcctor</th>
                    <td>ITLB</td>
                    <td>2923-0203</td>
                    <td>2923-0203</td>
                  </tr>
                  <tr id="DirectorITLB">
                    <th>Direcctor</th>
                    <td>ITLB</td>
                    <td>2923-0203</td>
                    <td>2923-0203</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </form>
      </div>
      <!--fin del cardboyd-->
      <div class="card-footer text-muted">
        <div class="btn-toolbar text-center" role="toolbar" aria-label="Toolbar with button groups">
          <div class="btn-group mr-2" role="group" aria-label="First group">
            <button type="button" class="btn btn-secondary" (click)="crearNuevoAlumno()">Guardar</button>
          </div>
          <div class="btn-group mr-2" role="group" aria-label="First group">
            <button type="button" class="btn btn-secondary" (click)="actualizaAlumno()">Actualizar</button>
          </div>
          <div class="btn-group mr-2" role="group" aria-label="Second group">
            <button type="button" class="btn btn-secondary">Eliminar</button>
          </div>
          <div class="btn-group" role="group" aria-label="Third group">
            <button type="button" class="btn btn-secondary" (click)="goToAlumnos()">Volver</button>
          </div>
        </div>
      </div>
    </div>
    <!--fin de card-->
  </div>
</div>