<div class="container-fluid">
	<!-- inicio de container principal-->
	<div class="col-sm-12 col-md-12 col-xl-12">
		<!--inicio de card o panel de contenido-->
		<div class="card  custom-card">
			<!-- encabezado o cinta de links-->
			<div class="card-header custom-card-header">
				<ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
					<!-- <li class="nav-item nav-link">
						<i class="fas fa fa-user fa-1x"></i> Administracion de Docentes
					</li> -->
					<li class="nav-item">
						<a class="nav-link active" id="docentes-tab" data-toggle="tab" href="#docentes" role="tab" aria-controls="docentes" aria-selected="false">
							<i class="fas fa fa-user fa-1x"></i> Administracion de Docentes</a>
					</li>
				</ul>
			</div>
			<!-- fin de nav-tabs-->
			<!-- inicio de tab-contents-->
			<div class="card-body custom-card-body">
				<div class="tab-content col-md-12" id="myTabContent">
					<!--Tab panes de la administracion de los Docentes-->
					<div class="tab-pane fade show active" id="docentes" role="tabpanel" aria-labelledby="docentes-tab">
						<!--inicio tab tabla docentes div1-->

						<div id="div1" class="col-xs-12 col-md-12">
							<div class="btn-group" role="group" aria-label="Basic example">
								<button class="btn btn-outline-secondary" id="btn2" (click)="ingresarNuevoDocente(2)">
									<i class="fas fa-user-plus"></i> Nuevo
								</button>
							</div>
							<br>
							<br>
							<table id="dtDocentes" datatable [dtOptions]="dtDocentesOpt" [dtTrigger]="dtTrigger" class="table table-bordered table-hover table-sm">
								<thead class="thead-light">
									<tr>
										<!-- <th></th> -->
										<th class="d-none">??</th>
										<th class="d-none">??</th>
										<th scope="col">#</th>
										<th scope="col">Expediente</th>
										<th scope="col">Nombre Completo</th>
										<th scope="col">Fecha ingreso</th>
										<th scope="col">nombre de Usuario</th>
										<th scope="col">Habilitar/Desabilitar</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let docente of inDocentesJsonArray; index as i" id="{{docente.codDocente}}">
										<!-- <td>
											<label class="radio-toolbar">
												<input type="radio" name="radio">
												<span class="checkmark"></span>
											</label>
										</td> -->
										<td class="d-none">{{docente.codDocente}}</td>
										<td class="d-none">{{docente.nombreCompleto}}</td>
										<td>{{ i+1 }}</td>
										<td>{{ docente.numExpediente }}</td>
										<td>
											<span class="my-link" (click)="update(docente.codDocente)">{{ docente.nombreCompleto}}</span>
										</td>
										<td>{{ docente.fechaIngreso }}</td>
										<td>{{ docente.nombreUsuario }}</td>
										<td>
											<button id="btn{{docente.codDocente}}" (click)="update(docente.codDocente)" class="btn btn-sm flag">
												<i class="fas fa-edit"></i>
											</button>
											<button class="btn btn-sm flag" id="btnactivar{{docente.codDocente}}" (click)="activar(docente.codDocente)" [class.btn-success]="habilitado(docente.habilitado)"
											 [class.btn-danger]="deshabilitado(docente.habilitado)" value="Habilitar">{{setCheckStatus(docente.habilitado)}}
											</button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!-- fin tab tabla docentes-->
						<!-- The Modal -->
						<div class="modal fade" id="modalDocentes">
							<div class="modal-dialog">
								<div class="modal-content">

									<!-- Modal Header -->
									<div class="modal-header">
										<h4 class="modal-title">Crear un nuevo Docente</h4>
										<button type="button" class="close" data-dismiss="modal">&times;</button>
									</div>

									<!-- Modal body -->
									<div class="modal-body">

									</div>

									<!-- Modal footer -->
									<div class="modal-footer" id="principal">
										<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
										<button class="btn btn-success">Guardar</button>
									</div>

								</div>
							</div>
						</div>
						<!-- The Modal de Cargos -->
						<div class="modal fade" id="misCargos">
							<div class="modal-dialog">
								<div class="modal-content">

									<!-- Modal Header -->
									<div class="modal-header">
										<h4 class="modal-title">Nuevo Cargo</h4>
										<button type="button" class="close" data-dismiss="modal">&times;</button>
									</div>

									<!-- Modal body -->
									<div class="modal-body">
										<form>
											<div class="form-group">
												<input type="text" class="form-control" id="txt-cargo" placeholder="Ingrese el nombre del cargo">
											</div>
										</form>
									</div>

									<!-- Modal footer -->
									<div class="modal-footer">
										<button type="button" class="btn btn-danger" data-dismiss="modal" data-toggle="modal" data-target="#modalDocentes">Close</button>
										<button type="button" class="btn btn-succes">Agregar Cargo</button>
									</div>

								</div>
							</div>
						</div>
						<!-- The Modal de Experiencias -->
						<div class="modal fade" id="misExperiencias">
							<div class="modal-dialog">
								<div class="modal-content">

									<!-- Modal Header -->
									<div class="modal-header">
										<h4 class="modal-title">Nueva Experiencia</h4>
										<button type="button" class="close" data-dismiss="modal">&times;</button>
									</div>

									<!-- Modal body -->
									<div class="modal-body">
										<form>
											<div class="form-group">
												<input type="text" class="form-control" id="txt-experiencia" placeholder="Ingrese el nombre de la Experiencia">
											</div>
											<div class="form-group">
												<input type="text" class="form-control" id="txt-lugar" placeholder="Ingrese la direccion del lugar de trabajo">
											</div>
											<div class="form-group">
												<input type="text" class="form-control" id="txt-telefono" placeholder="9999-9999">
											</div>
										</form>
									</div>
									<!-- Modal footer -->
									<div class="modal-footer">
										<button type="button" class="btn btn-danger" data-dismiss="modal" data-toggle="modal" data-target="#modalDocentes">Close</button>
										<button type="button" class="btn btn-succes">Agregar Experiencia</button>
									</div>
								</div>
							</div>
						</div>
						<!-- fin de Tab panes de la administracion de los docentes-->
					</div>
				</div>
			</div>
			<!-- fin de card body-->
		</div>
		<!-- fin del card container-->
	</div>
	<!-- fin del contenedor delimitador de columnas -->

</div>